<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <!-- <div>
            <img class="h-40 lg:h-80 object-cover" src="assets/images/pages/profile/cover.jpg" alt="Cover image">
        </div> -->

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <!-- <div class="-mt-26 lg:-mt-22 rounded-full">
                <img class="w-32 h-32 rounded-full ring-4 ring-bg-card" src="assets/images/avatars/male-04.jpg" alt="User avatar">
            </div> -->

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">{{ registration.firstName }} {{ registration.lastName }}</div>
                <!-- <div class="text-secondary">London, UK</div> -->
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <!-- <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">200k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWERS</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">1.2k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWING</span>
                </div>
            </div> -->

            <!-- Menu -->
            <!-- <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a class="font-medium" [routerLink]="['./']">
                    Home
                </a>
                <a class="text-secondary" [routerLink]="['./']">
                    About
                </a>
                <a class="text-secondary" [routerLink]="['./']">
                    Followers
                </a>
                <a class="text-secondary" [routerLink]="['./']">
                    Gallery
                </a>
            </div> -->

        </div>

    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 space-x-8 sm:p-8">

        <!-- Column -->
        <div class="flex flex-col items-start space-y-4">

            <!-- Participant -->
            <fuse-card class="flex flex-col w-80 p-8">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">{{ 'Overview' | translate }}</div>
                    <div class="-mr-3">
                        <button mat-icon-button [matMenuTriggerFor]="paymentsMenu">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #paymentsMenu="matMenu">
                            <button mat-menu-item (click)="addReduction()">{{ 'CreateIndividualReduction' | translate }}</button>
                            <!-- <button mat-menu-item>{{ 'CancelRegistration' | translate }}</button> -->
                        </mat-menu>
                    </div>
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:clipboard-list'"></mat-icon>
                        <span class="leading-none">{{ registration.receivedAt | date: 'dd.MM.yy HH:mm:ss' }}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <span class="leading-none">{{ registration.email }}</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                        <span class="leading-none">{{ registration.phoneNormalized }}</span>
                    </div>
                    <div class="flex items-center mt-4" *ngIf="!registration.isWaitingList">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                        <span class="leading-none">{{ registration.paid | number : '1.2-2' }}</span>
                        <span *ngIf="registration.price != registration.paid">&nbsp;/&nbsp;{{ registration.price | number : '1.2-2' }}</span>
                        <mat-icon *ngIf="registration.price == registration.paid" class="icon-size-5 ml-1 text-green-600" [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                    </div>
                    <div class="flex items-center mt-4" *ngIf="registration.partnerOriginal">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:users'"></mat-icon>
                        <span class="leading-none">
                            <a *ngIf="registration.partnerId" class="hover:underline" [routerLink]="navigator.getRegistrationUrl(registration.partnerId)">{{ registration.partnerName }}</a>
                            <span *ngIf="!registration.partnerId" class="italic">{{ registration.partnerOriginal }}</span>
                        </span>
                    </div>
                </div>
            </fuse-card>

            <!-- Payments -->
            <fuse-card class="flex flex-col w-80 px-8 pt-6 pb-4 rounded-2xl">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">{{ 'Payments' | translate }}</div>
                    <div class="-mr-3">
                        <button mat-icon-button [matMenuTriggerFor]="paymentsMenu">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #paymentsMenu="matMenu">
                            <!-- <button mat-menu-item>Clear activities</button> -->
                        </mat-menu>
                    </div>
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col space-y-4 mb-4">
                    <ng-container *ngFor="let payment of registration.payments">
                        <div class="flex flex-col rounded-xl bg-default shadow p-3">
                            <div class="flex items-center">
                                <div class="flex items-baseline">
                                    <div>{{ payment.amount | number : '1.2-2' }}</div>
                                    <div class="text-sm text-secondary ml-1">{{ payment.bookingDate | date: 'dd.MM.yy' }}</div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </fuse-card>
        </div>

        <!-- Column -->
        <div class="flex flex-col items-start space-y-4">

            <!-- Spots -->
            <fuse-card class="flex flex-col w-80 px-8 pt-6 pb-4 rounded-2xl">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">{{ 'Spots' | translate }}</div>
                    <div class="-mr-3">
                        <button mat-icon-button [matMenuTriggerFor]="spotsMenu">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #spotsMenu="matMenu">
                            <!-- <button mat-menu-item>Clear activities</button> -->
                        </mat-menu>
                    </div>
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col space-y-4 mb-4">
                    <ng-container *ngFor="let spot of registration.spots">
                        <div class="flex flex-col rounded-xl bg-default shadow p-3">
                            <div class="flex align-top relative">
                                <a class="leading-tight hover:underline" [routerLink]="getRegistrableUrl(spot)">
                                    <div>{{ spot.registrableName }}</div>
                                    <div class="text-md leading-none text-secondary mt-2" *ngIf="spot.registrableNameSecondary">{{ spot.registrableNameSecondary }}</div>
                                </a>
                                <mat-icon class="icon-size-5 absolute right-0" *ngIf="spot.isWaitingList" [svgIcon]="'heroicons_solid:clock'" matTooltip="Warteliste"></mat-icon>
                            </div>
                            <div class="flex items-center mt-4" *ngIf="spot.roleText">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:user'"></mat-icon>
                                <div>{{ spot.roleText }}</div>
                            </div>
                            <div class="flex items-center mt-4" *ngIf="spot.partnerName">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:users'"></mat-icon>
                                <span class="leading-none">
                                    <a *ngIf="registration.partnerId" class="hover:underline" [routerLink]="navigator.getRegistrationUrl(spot.partnerRegistrationId)">{{ spot.partnerName }}</a>
                                    <span *ngIf="!registration.partnerId" class="italic">{{ spot.partnerName }}</span>
                                </span>
                            </div>
                            <!-- <div class="text-md leading-none text-secondary mt-2">{{spot.firstPartnerJoined | date: 'dd.MM.yy HH:mm:ss'}}</div> -->
                        </div>
                    </ng-container>
                </div>
            </fuse-card>

        </div>

        <!-- Column -->
        <div class="flex flex-col items-start space-y-4">

            <!-- Mails -->
            <fuse-card class="flex flex-col w-80 px-8 pt-6 pb-4 rounded-2xl">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">{{ 'Mails' | translate }}</div>
                    <div class="-mr-3">
                        <button mat-icon-button [matMenuTriggerFor]="mailsMenu" (click)="fetchPossibleMailTypes()">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #mailsMenu="matMenu">
                            <button mat-menu-item [matMenuTriggerFor]="mailTypesMenu">{{ 'CreateMail' | translate }}</button>
                        </mat-menu>
                        <mat-menu #mailTypesMenu>
                            <button *ngFor="let mailType of possibleMailTypes" mat-menu-item (click)="createMail(mailType)">{{ mailType.userText }}</button>
                        </mat-menu>
                    </div>
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col space-y-4 mb-4">
                    <ng-container *ngFor="let mail of registration.mails">
                        <div class="flex flex-col rounded-xl bg-default shadow p-3">
                            <div class="flex flex-col">
                                <div class="flex flex-row items-center">
                                    <div>{{ mail.subject }}</div>
                                    <button mat-icon-button (click)="viewMail(mail.mailId)" class="ml-auto">
                                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    </button>
                                </div>
                                <div class="text-md leading-none text-secondary mt-1" *ngIf="mail.sentAt">{{ mail.sentAt | date: 'dd.MM.yy hh:mm' }}</div>
                                <div class="text-md leading-none text-secondary mt-1" *ngIf="!mail.sentAt">({{ mail.created | date: 'dd.MM.yy hh:mm' }})</div>
                                <!-- <mat-icon class="icon-size-5 absolute right-0" *ngIf="!mail.sentAt" [svgIcon]="'heroicons_solid:clock'" matTooltip="Warteliste"></mat-icon> -->
                            </div>
                        </div>
                    </ng-container>
                </div>
            </fuse-card>

        </div>
    </div>

</div>