<div class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-3/4 -m-6 overflow-y-auto">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{ 'CreateIndividualReduction' | translate }}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto">

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">

            <!-- Amount -->
            <div class="col-span-1">
                <div class="w-full ml-1 -mr-1">
                    <mat-form-field [subscriptSizing]="'dynamic'">
                        <mat-label>{{ 'Amount' | translate }}</mat-label>
                        <input [formControlName]="'amount'" type="number" matInput>
                    </mat-form-field>
                </div>
            </div>

            <!-- Debitor -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-emphasized-affix w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'DebitorName' | translate }}</mat-label>
                    <input [formControlName]="'debitorName'" matInput>
                </mat-form-field>
            </div>
            <!-- Debitor IBAN -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-emphasized-affix w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'DebitorIban' | translate }}</mat-label>
                    <input [formControlName]="'debitorIban'" matInput>
                </mat-form-field>
            </div>
            <!-- Debitor -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-emphasized-affix w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'Message' | translate }}</mat-label>
                    <input [formControlName]="'message'" matInput>
                </mat-form-field>
            </div>

            <!-- Booking date -->
            <div>
                <div class="font-medium">{{ 'Valuta' | translate }}</div>
                <div class="relative flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700" (click)="datePicker.open()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:calendar'"></mat-icon>
                    <span class="ml-2 text-md font-medium">
                        <ng-container>{{ form.value.bookingDate | date:'dd.MM.yyyy' }}</ng-container>
                        <!-- <ng-container *ngIf="card.dueDate">{{card.dueDate | date:'longDate'}}</ng-container>
                                    <ng-container *ngIf="!card.dueDate">Not set</ng-container> -->
                    </span>
                    <mat-form-field class="fuse-mat-dense invisible absolute inset-0 -mt-2.5 opacity-0 pointer-events-none" [subscriptSizing]="'dynamic'">
                        <input matInput [formControlName]="'bookingDate'" [matDatepicker]="datePicker">
                        <mat-datepicker #datePicker>
                            <mat-datepicker-actions>
                                <button mat-button (click)="form.get('bookingDate').setValue(null)" matDatepickerCancel>
                                    Clear
                                </button>
                                <button mat-flat-button [color]="'primary'" matDatepickerApply>
                                    Select
                                </button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

        </div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button" [matDialogClose]="'cancelled'"> {{ 'Cancel' | translate }} </button>
            <button class="ml-4" mat-flat-button type="submit" [color]="'primary'" [matDialogClose]="'confirmed'">{{ 'Save' | translate }} </button>
        </div>
    </form>

</div>