<h1>Anmeldung {{ registration.FirstName }} {{registration.LastName}} </h1>

<p *ngIf="!registration"><em>Loading...</em></p>

<!-- Button trigger modal -->
<button *ngIf="registration.Status != 4" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Stornieren</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Anmeldung stornieren</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Grund:</p>
                    </div>
                    <div class="col-sm-6">
                        <input #reason value="Abmeldung">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Trotz Zahlungen</p>
                    </div>
                    <div class="col-sm-6">
                        <input type="checkbox" #ignorePayments />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p>% Rückzahlung</p>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" #refundPercentage />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" (click)="cancelRegistration(reason.value, ignorePayments.value, refundPercentage.value)" data-dismiss="modal">Stornieren</button>
            </div>
        </div>
    </div>
</div>
