<h1>Berechtigte Benutzer</h1>

<p *ngIf="!users"><em>Loading...</em></p>

<table class="table" *ngIf="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rolle</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userFirstName }} {{ user.userLastName}} ({{ user.userEmail }})</td>
      <td>{{ user.role }}</td>
      <td><button class="btn btn-primary btn-xs" (click)="removeUserFromEvent(user)">Entfernen</button></td>
    </tr>
  </tbody>
</table>

<h1>Zugriffsanfragen</h1>

<p *ngIf="!requests"><em>Loading...</em></p>

<table class="table" *ngIf="requests">
  <thead>
    <tr>
      <th>Name</th>
      <th>Angefragt</th>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of requests">
      <td>{{ request.firstName }} {{ request.lastName }} ({{ request.email }})</td>
      <td>{{ request.requestReceived | date: 'dd.MM.yy HH:mm' }}</td>
      <td>{{ request.requestText }}</td>
    </tr>
  </tbody>
</table>

<br />
