<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="flex-1 min-w-0">
            <div class="text-4xl font-extrabold tracking-tight leading-none">{{ (payment.type === PaymentType.Incoming ? 'AssignIncoming' : 'AssignOutgoing') | translate }}</div>
            <div *ngIf="payment.openAmount !== null" class="mt-1.5 text-lg text-secondary">Offen {{ payment.openAmount | number: '1.2-2' }}</div>
        </div>

        <!-- context menu -->
        <div class="flex items-center ml-auto">
            <button mat-icon-button [matMenuTriggerFor]="paymentMenu">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
            </button>
            <mat-menu #paymentMenu="matMenu">
                <button *ngIf="!payment.ignored" mat-menu-item (click)="ignorePayment()">
                    <span class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>
                        <span>{{ 'Ignore' | translate }}</span>
                    </span>
                </button>
            </mat-menu>
        </div>

        <!-- Filters -->
        <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [floatLabel]="'always'">
            <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input (input)="searchCandidates(query.value)" [placeholder]="'SearchByNameMailPhone' | translate" matInput #query>
        </mat-form-field>
    </div>

    <div class="flex flex-col p-6 sm:p-8 sm:pt-4 overflow-y-auto">

        <!-- Existing assignment to registrations -->
        <div *ngIf="existingAssignments?.length > 0" class="p-2 rounded-xl bg-default">

            <div class="flex flex-row items-baseline gap-x-2 ml-6">
                <div class="font-medium">{{ 'ExistingAssignments' | translate }}</div>
                <!-- <div class="text-secondary leading-tight">{{ bookingDay.balanceAfter | number: '1.2-2' }}</div> -->
            </div>

            <!-- Bookings -->
            <div class="flex flex-wrap mt-2 p-3 gap-4 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                <!-- Booking -->
                <ng-container *ngFor="let existingAssignment of existingAssignments">
                    <fuse-card class="flex flex-col w-80 p-4 rounded-xl">
                        <div class="flex flex-row items-baseline gap-x-2">
                            <div class="text-xl font-semibold leading-tight">{{ existingAssignment.assignedAmount | number: '1.2-2' }}</div>
                            <a class="hover:underline text-secondary leading-tight" [routerLink]="navigator.getRegistrationUrl(existingAssignment.registrationId)">
                                {{ existingAssignment.firstName }} {{ existingAssignment.lastName }}</a>
                            <button *ngIf="existingAssignment.paymentAssignmentId_Existing" class="ml-auto" mat-icon-button (click)="unassign(existingAssignment.paymentAssignmentId_Existing)">
                                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                        <!-- <div *ngIf="booking.charges" class="flex flex-row items-baseline gap-x-2">
                                <div class="text-xl font-semibold leading-tight">{{ booking.charges | number: '1.2-2' }}</div>
                                <div class="text-secondary leading-tight">Fremdspesen</div>
                            </div> -->
                        <!-- <div *ngIf="booking.message" class="p-2 border-2 rounded-lg -mx-1 m-2 bg-gray-100">
                                <span class="leading-none">{{ candidate.message }}</span>
                            </div> -->
                    </fuse-card>
                </ng-container>
            </div>
        </div>

        <!-- Possible repayment candidates -->
        <div *ngIf="repaymentCandidates?.length > 0 && payment.type === PaymentType.Incoming" class="p-2 rounded-xl bg-default">

            <div class="flex flex-row items-baseline gap-x-2 ml-6">
                <div class="font-medium">{{ 'RepaymentCandidates' | translate }}</div>
                <!-- <div class="text-secondary leading-tight">{{ bookingDay.balanceAfter | number: '1.2-2' }}</div> -->
            </div>

            <div *ngIf="!query.value" class="flex flex-wrap mt-2 p-3 gap-4 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                <ng-container *ngFor="let repaymentCandidate of repaymentCandidates">
                    <fuse-card class="flex flex-col w-80 p-4 rounded-xl">
                        <div>
                            <div class="flex flex-row items-baseline gap-x-2">
                                <div class="text-xl font-semibold leading-tight">{{ repaymentCandidate.amountUnsettled | number:'1.2-2' }}</div>
                                <a class="hover:underline text-secondary leading-tight">{{ repaymentCandidate.creditorName }}</a>
                            </div>

                            <div class="flex flex-row items-baseline gap-x-2">
                                <mat-form-field class="fuse-mat-no-subscript w-24">
                                    <input type="number" class="font-large" formControlName="amountAssigned" [placeholder]="'Zuordnen'" matInput #amountToAssign>
                                </mat-form-field>

                                <button class="ml-auto" mat-icon-button (click)="assignRepayment(repaymentCandidate.paymentId_Counter, +amountToAssign.value )">
                                    <mat-icon [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </fuse-card>
                </ng-container>
            </div>

            <div *ngIf="query.value" class="flex flex-wrap mt-2 p-3 gap-4 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                <ng-container *ngFor="let searchMatch of searchMatches">
                    <!-- available -->
                    <app-assignment-candidate-registration *ngIf="searchMatch.state===RegistrationState.Received" [payment]="payment" [candidate]="searchMatch" (assign)="assign($event)">
                    </app-assignment-candidate-registration>

                    <!-- unavailable -->
                    <fuse-card class="min-w-10 rounded-xl bg-gray-300 cursor-pointer" *ngIf="searchMatch.state!==RegistrationState.Received"
                        [routerLink]="navigator.getRegistrationUrl(searchMatch.registrationId)">
                        <div class="flex m-auto text-xl uppercase p-4">
                            ({{ searchMatch.firstName?.charAt(0) }}{{ searchMatch.lastName?.charAt(0) }})
                        </div>
                    </fuse-card>
                </ng-container>
            </div>
        </div>

        <!-- Possible registration candidates -->
        <div *ngIf="candidates?.length > 0 || searchMatches?.length > 0" class="p-2 rounded-xl bg-default">

            <div class="flex flex-row items-baseline gap-x-2 ml-6">
                <div class="font-medium">{{ (payment.type === PaymentType.Incoming ? 'RegistrationCandidatesForIncomingPayment' : 'RegistrationCandidatesForOutgoingPayment') | translate }}</div>
                <!-- <div class="text-secondary leading-tight">{{ bookingDay.balanceAfter | number: '1.2-2' }}</div> -->
            </div>

            <!-- registrations -->
            <div *ngIf="!query.value" class="flex flex-wrap mt-2 p-3 gap-4 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                <ng-container *ngFor="let candidate of candidates">
                    <!-- available -->
                    <app-assignment-candidate-registration *ngIf="candidate.state===RegistrationState.Received" [payment]="payment" [candidate]="candidate" (assign)="assign($event)">
                    </app-assignment-candidate-registration>

                    <!-- unavailable -->
                    <fuse-card class="min-w-10 rounded-xl bg-gray-300 cursor-pointer" *ngIf="candidate.state!==RegistrationState.Received"
                        [routerLink]="navigator.getRegistrationUrl(candidate.registrationId)">
                        <div class="flex m-auto text-xl uppercase p-4">
                            ({{ candidate.firstName?.charAt(0) }}{{ candidate.lastName?.charAt(0) }})
                        </div>
                    </fuse-card>
                </ng-container>
            </div>

            <div *ngIf="query.value" class="flex flex-wrap mt-2 p-3 gap-4 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                <ng-container *ngFor="let searchMatch of searchMatches">
                    <!-- available -->
                    <app-assignment-candidate-registration *ngIf="searchMatch.state===RegistrationState.Received" [payment]="payment" [candidate]="searchMatch" (assign)="assign($event)">
                    </app-assignment-candidate-registration>

                    <!-- unavailable -->
                    <fuse-card class="min-w-10 rounded-xl bg-gray-300 cursor-pointer" *ngIf="searchMatch.state!==RegistrationState.Received"
                        [routerLink]="navigator.getRegistrationUrl(searchMatch.registrationId)">
                        <div class="flex m-auto text-xl uppercase p-4">
                            ({{ searchMatch.firstName?.charAt(0) }}{{ searchMatch.lastName?.charAt(0) }})
                        </div>
                    </fuse-card>
                </ng-container>
            </div>
        </div>

    </div>
</div>