<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <div class="relative flex flex-auto w-full bg-card dark:bg-transparent">

            <mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">

                <!-- Drawer -->
                <mat-drawer class="w-full sm:w-100 lg:border-r lg:shadow-none dark:bg-gray-900" [autoFocus]="false" #drawer>
                    <div class="ml-2 font-semibold uppercase">{{ 'PendingMails' | translate }}</div>

                    <!-- Loading bar -->
                    <!-- <mat-progress-bar class="absolute inset-x-0 bottom-0 h-0.5" *ngIf="mailsLoading" [mode]="'indeterminate'"></mat-progress-bar> -->
                </mat-drawer>

                <!-- Drawer content -->
                <mat-drawer-content class="flex overflow-hidden">

                    <!-- Mails list -->
                    <ng-container *ngIf="pendingMails?.length > 0; else noMails">
                        <div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-100 lg:max-w-100 bg-card dark:bg-transparent">

                            <!-- Header -->
                            <div class="flex flex-col flex-0 py-4 px-8 border-b bg-gray-50 dark:bg-transparent">
                                <div class="flex items-center">
                                    <div class="flex items-center mr-1 cursor-pointer">
                                        <div class="ml-2 font-semibold uppercase">{{ 'PendingMails' | translate }}</div>
                                    </div>
                                    <button class="ml-auto -mr-4" mat-icon-button [matMenuTriggerFor]="mailsHeaderMenu">
                                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                                        <mat-menu #mailsHeaderMenu>
                                            <button mat-menu-item>
                                                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                                {{ 'DeleteAll' | translate }}
                                            </button>
                                        </mat-menu>
                                    </button>
                                </div>
                                <!-- Search -->
                                <div class="mt-4">
                                    <mat-form-field class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-dense w-full" [floatLabel]="'always'">
                                        <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                        <input matInput [autocomplete]="'off'" placeholder="{{ 'Search' | translate }}" (input)="filterChats(searchField.value)" #searchField>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!-- Mails -->
                            <div class="flex-auto overflow-y-auto">
                                <ng-container *ngIf="filteredPendingMails?.length > 0; else noMails">
                                    <ng-container *ngFor="let pendingMail of filteredPendingMails; trackBy: trackByFn">
                                        <!-- Mail -->
                                        <a class="relative flex border-t first:border-0 hover:bg-hover" [routerLink]="[pendingMail.id]" (click)="onMailSelected(pendingMail)">

                                            <!-- Item content -->
                                            <div class="flex flex-col items-start justify-start w-full py-6 pr-4 pl-5 border-l-4 border-transparent" [ngClass]="{
                                                            'bg-primary-50 dark:bg-black dark:bg-opacity-5': selectedMail && selectedMail.id === pendingMail.id}">

                                                <!-- Info -->
                                                <div class="flex items-center w-full">
                                                    <!-- Sender name -->
                                                    <div class="mr-2 font-semibold truncate">
                                                        {{ pendingMail.recipientsNames }}
                                                        <!-- {{pendingMail.from.contact.split('<')[0].trim()}}  -->
                                                    </div>
                                                    <!-- Important indicator -->
                                                    <!-- <mat-icon class=" mr-3 icon-size-4 text-red-500 dark:text-red-600" *ngIf="mail.important" [svgIcon]="'heroicons_solid:exclamation-circle'">
                                                        </mat-icon> -->
                                                    <!-- Date -->
                                                    <div class="ml-auto text-md text-right whitespace-nowrap text-hint">
                                                        {{ pendingMail.created | ago }}
                                                    </div>
                                                </div>

                                                <!-- Subject -->
                                                <div class="flex items-center w-full mt-1">
                                                    <span class="leading-4 truncate">{{ pendingMail.subject }}</span>
                                                    <!-- Indicators -->
                                                    <!-- <div class="flex ml-auto pl-2" *ngIf="(mail.attachments && mail.attachments.length > 0) || mail.starred">
                                                            <mat-icon class="flex justify-center icon-size-4" *ngIf="mail.attachments && mail.attachments.length > 0" [svgIcon]="'heroicons_solid:paper-clip'"></mat-icon>
                                                            <mat-icon class="flex justify-center icon-size-4 ml-1 text-orange-500 dark:text-orange-400" *ngIf="mail.starred" [svgIcon]="'heroicons_solid:star'"></mat-icon>
                                                        </div> -->
                                                </div>

                                                <!-- Excerpt -->
                                                <div class="mt-2 leading-normal line-clamp-2 text-secondary">
                                                    {{ pendingMail.contentStart }}
                                                </div>

                                            </div>

                                        </a>
                                    </ng-container>
                                </ng-container>
                            </div>

                        </div>

                    </ng-container>

                    <!-- No mails template -->
                    <ng-template #noMails>
                        <div class="flex flex-auto flex-col items-center justify-center h-full">
                            <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                            <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">{{ 'NoPendingMails' | translate }}</div>
                        </div>
                    </ng-template>

                    <!-- Mail details -->
                    <ng-container *ngIf="filteredPendingMails?.length > 0">
                        <div class="flex-auto border-l" [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': selectedMail && selectedMail.id,
                                'hidden lg:flex': !selectedMail || !selectedMail.id}">
                            <router-outlet></router-outlet>
                        </div>
                    </ng-container>

                </mat-drawer-content>

            </mat-drawer-container>

        </div>
    </div>
</div>