<h1>Übersicht Einnahmen</h1>

<p *ngIf="!paymentOverview"><em>Loading...</em></p>

<table class='table' *ngIf="paymentOverview">
  <tbody>
    <tr>
      <td>Geld eingenommen:</td>
      <td class="text-right">{{ paymentOverview.receivedMoney | currency : paymentOverview.balance.currency }}</td>
      <td>aus {{paymentOverview.paidRegistrations}} Anmeldungen</td>
    </tr>
    <tr>
      <td>Ausstehende Zahlungen:</td>
      <td class="text-right">{{ paymentOverview.outstandingAmount | currency : paymentOverview.balance.currency }}</td>
      <td><a [routerLink]="['/', getEventAcronym(), 'paymentReminders']">aus {{ paymentOverview.notFullyPaidRegistrations }} Anmeldungen</a></td>
    </tr>
    <tr>
      <td>Kontostand:</td>
      <td class="text-right">{{ paymentOverview.balance.balance | currency : paymentOverview.balance.currency }}</td>
      <td>Konto {{ paymentOverview.balance.accountIban }}, Stand {{ paymentOverview.balance.date | date: 'dd.MM.yy' }}</td>
    </tr>
    <tr>
      <td>Potential durch offene Plätze:</td>
      <td class="text-right">{{ paymentOverview.potentialOfOpenSpotsSum | currency : paymentOverview.balance.currency }}</td>
      <td><button (click)="showPotentialDetails=!showPotentialDetails">Details</button></td>
    </tr>
  </tbody>
</table>

<table class='table' *ngIf="showPotentialDetails">
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th class="text-right">Plätze verfügbar</th>
      <th class="text-right">Potential</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let potential of paymentOverview.potentialOfOpenSpots">
      <td><a [routerLink]="[eventService.acronym, 'registrables', potential.RegistrableId, 'participants']">{{ potential.name }}</a></td>
      <td class="text-right">{{ potential.spotsAvailable }}</td>
      <td class="text-right">{{ potential.potentialIncome | currency : paymentOverview.balance.currency }}</td>
    </tr>
  </tbody>
</table>
