<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Back to registration overview -->
            <a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['../..']">
                <span class="inline-flex items-center">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:arrow-sm-left'"></mat-icon>
                    <span class="ml-1.5 font-medium leading-5">Zurück zur Anmeldungsübersicht</span>
                </span>
            </a>
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight leading-none">{{registrable.name}}</div>
            <div class="mt-1.5 text-lg text-secondary">{{registrable.nameSecondary}}</div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-8 sm:pt-4 overflow-y-auto" cdkScrollable>

        <!-- Lists -->
        <div class="flex">

            <!-- Group all cdkDropList's after this point together so that the cards can be transferred between lists -->
            <div class="flex flex-wrap">

                <!-- Participants -->
                <div class="flex-0 w-144 p-2 rounded-2xl bg-default">

                    <div class="font-medium">Teilnehmer</div>

                    <!-- Spots -->
                    <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                        <div [id]="'participants'" class="p-3 pb-0">
                            <!-- Header -->
                            <div class="flex flex-row items-center m-3 space-x-4">
                                <div class="flex flex-row w-72">
                                    <div class="font-normal">Leader</div>
                                    <div class="flex items-center justify-center min-w-6 ml-2 pl-1 pr-1 -mt-1 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                                        {{registrable.acceptedLeaders}}
                                    </div>
                                </div>
                                <div class="flex flex-row w-72">
                                    <div class="font-normal">Followers</div>
                                    <div class="flex items-center justify-center min-w-6 ml-2 pl-1 pr-1 -mt-1 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                                        {{registrable.acceptedFollowers}}
                                    </div>
                                </div>
                            </div>
                            <!-- Spot -->
                            <ng-container *ngFor="let spot of registrable.participants; trackBy: trackByFn">
                                <div class="flex flex-row items-center">
                                    <app-participant [registration]="spot.leader" [placeholderPartner]="spot.placeholderPartner"></app-participant>
                                    <div *ngIf="spot.isPartnerRegistration" class="w-4 h-6 mb-2 z-10 overflow-hidden bg-card"></div>
                                    <div *ngIf="!spot.isPartnerRegistration" class="w-4"></div>
                                    <app-participant [registration]="spot.follower" [placeholderPartner]="spot.placeholderPartner"></app-participant>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- Waiting list -->
                <div class="flex-0 w-144 p-2 rounded-2xl bg-default">

                    <div class="font-medium">Warteliste</div>

                    <!-- Spots -->
                    <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">
                        <div [id]="'participants'" class="p-3 pb-0">
                            <!-- header -->
                            <div class="flex flex-row items-center m-3 space-x-4">
                                <div class="flex flex-row w-72">
                                    <div class="font-normal">Leader</div>
                                    <div class="flex items-center justify-center min-w-6 ml-2 pl-1 pr-1 -mt-1 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                                        {{registrable.leadersOnWaitingList}}
                                    </div>
                                </div>
                                <div class="flex flex-row w-72">
                                    <div class="font-normal">Followers</div>
                                    <div class="flex items-center justify-center min-w-6 ml-2 pl-1 pr-1 -mt-1 text-sm font-semibold leading-6 rounded-full bg-gray-300 text-secondary dark:bg-gray-700">
                                        {{registrable.followersOnWaitingList}}
                                    </div>
                                </div>
                            </div>

                            <!-- Spot -->
                            <ng-container *ngFor="let spot of registrable.waitingList; trackBy: trackByFn">
                                <div class="flex flex-row items-center">
                                    <app-participant [registration]="spot.leader" [placeholderPartner]="spot.placeholderPartner"></app-participant>
                                    <div *ngIf="spot.isPartnerRegistration" class="w-4 h-6 mb-2 z-10 overflow-hidden bg-card"></div>
                                    <div *ngIf="!spot.isPartnerRegistration" class="w-4 h-6 mb-2"></div>
                                    <app-participant [registration]="spot.follower" [placeholderPartner]="spot.placeholderPartner"></app-participant>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Invisible router-outlet for ScrumboardCard component -->
<div class="absolute invisible w-0 h-0 opacity-0 pointer-events-none">
    <router-outlet></router-outlet>
</div>