<a *ngIf="registration" class="flex flex-col w-72 h-16 items-start mb-3 p-5 space-y-3 shadow rounded-lg overflow-hidden bg-card" [routerLink]="['/registration', registration.id]">
    <!-- Cover image -->
    <!-- <ng-container *ngIf="card.coverImage">
                                            <div class="-mx-5 -mt-5 mb-2">
                                                <img class="w-full object-cover" [src]="card.coverImage">
                                            </div>
                                        </ng-container> -->
    <!-- Title -->
    <div class="text-lg font-medium leading-5">{{registration.firstName}} {{registration.lastName}}</div>
    <!-- Labels -->
    <!-- <ng-container *ngIf="card.labels.length">
                                            <div>
                                                <div class="flex flex-wrap -mx-1 -mb-2">
                                                    <ng-container *ngFor="let label of card.labels; trackBy: trackByFn">
                                                        <div class="mx-1 mb-2 py-0.5 px-3 rounded-full text-sm font-medium text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                                            {{label.title}}
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </ng-container> -->
    <!-- Due date -->
    <!-- <ng-container *ngIf="card.dueDate">
                                            <div class="flex items-center rounded text-sm font-medium leading-5 text-secondary" [ngClass]="{'text-red-600': isOverdue(card.dueDate)}">
                                                <mat-icon class="icon-size-4 text-current" [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                                                <div class="ml-1">
                                                    {{card.dueDate | date: 'longDate'}}
                                                </div>
                                            </div>
                                        </ng-container> -->
</a>
<!-- waiting for partner -->
<div *ngIf="!registration && placeholderPartner" class="flex flex-col w-72 h-16 items-start mb-3 p-5 space-y-3 border border-warn-400 shadow rounded-lg overflow-hidden bg-warn-200">
    <div class="text-lg font-medium leading-5 ">{{placeholderPartner}}</div>
</div>
<!-- available -->
<div *ngIf="!registration && !placeholderPartner" class="flex flex-col w-72 h-16 items-start mb-3 p-5 space-y-3 border border-gray-400 shadow rounded-lg overflow-hidden bg-gray-200">
    <mat-icon class="self-center" svgIcon="heroicons_solid:question-mark-circle"></mat-icon>
</div>