<div class="flex flex-col flex-auto md:w-160 md:min-w-160 max-h-3/4 -m-6 overflow-y-auto">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">{{ 'ChangeName' | translate }}</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Form -->
    <div class="flex flex-col flex-0 items-start w-full p-6 sm:p-8 space-y-6 overflow-y-auto">

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- First Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-emphasized-affix w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'FirstName' | translate }}</mat-label>
                    <input [value]="firstName" matInput #firstNameInput>
                </mat-form-field>
            </div>
            <!-- Last Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-emphasized-affix w-full" [subscriptSizing]="'dynamic'">
                    <mat-label>{{ 'LastName' | translate }}</mat-label>
                    <input [value]="lastName" matInput #lastNameInput>
                </mat-form-field>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button mat-stroked-button type="button" [matDialogClose]="'cancelled'"> {{ 'Cancel' | translate }} </button>
            <button class="ml-4" mat-flat-button [color]="'primary'" [matDialogClose]="'confirmed'" (click)="change(firstNameInput.value, lastNameInput.value)">{{ 'ChangeName' | translate }} </button>
        </div>
    </div>

</div>