<div class="absolute inset-0 flex flex-col min-w-0 overflow-auto">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="flex min-w-0 flex-row items-baseline gap-2">
            <div class="text-4xl font-extrabold tracking-tight leading-none">{{ 'Hosting' | translate }}</div>
            <div class="mt-1.5 text-lg text-secondary">({{ filteredOffers?.length }} / {{ filteredRequests?.length }})</div>
        </div>

        <!-- Toggle starred button -->
        <button class="ml-2" mat-icon-button (click)="downloadHosting()" [matTooltip]="'Download' | translate">
            <mat-icon [svgIcon]="'mat_outline:file_download'"></mat-icon>
        </button>

        <!-- Filters -->
        <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 ml-auto" [floatLabel]="'always'">
            <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input (input)="filterByQuery(query.value)" [placeholder]="'SearchByNameMailPhone' | translate" matInput #query autofocus>
        </mat-form-field>
    </div>

    <!-- Offers -->
    <div class="flex min-w-0 flex-row items-baseline gap-2 m-4">
        <div class="text-xl font-bold tracking-tight leading-none">{{ 'HostingOffers' | translate }}</div>
        <div class="mt-1.5 text-lg text-secondary">({{ filteredOffers?.length ?? 0 }})</div>
    </div>

    <div *ngIf="filteredOffers" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 m-4 sm:mt-10">

        <ng-container *ngFor="let offer of filteredOffers">
            <!-- Offer -->
            <div class="flex flex-col min-h-32 shadow rounded-2xl overflow-hidden bg-card p-6 space-y-2" [ngClass]="{'bg-gray-200': !!offer.isOnWaitingList}">
                <div class="flex">
                    <a class="grow flex-col w-full hover:underline space-y-1" [routerLink]="navigator.getRegistrationUrl(offer.registrationId)">

                        <!-- Registrable title & description -->
                        <div class="text-lg font-medium">{{ offer.displayName }}</div>
                        <div class="line-clamp-2 text-secondary">{{ offer.email }}</div>
                        <div class="line-clamp-2 text-secondary">{{ offer.phone }}</div>
                        <div class="w-12 h-1 mt-2 border-t-2"></div>
                    </a>
                    <mat-icon class="none icon-size-5 justify-middle" *ngIf="offer.isOnWaitingList" [svgIcon]="'heroicons_solid:clock'" [matTooltip]="'WaitingList' | translate"></mat-icon>
                    <mat-icon class="none icon-size-5 justify-middle" *ngIf="!offer.isOnWaitingList" [svgIcon]="'heroicons_solid:check-circle'" matTooltip=" {{ 'AdmittedAt' | translate }} {{
                                            offer.admittedAt | date: 'dd.MM.yy HH:mm' }}"></mat-icon>
                </div>

                <div class="flex items-center mt-6">
                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:users'" [matTooltip]="'CountTotalShared' | translate"></mat-icon>
                    <span class="leading-none">{{ offer.countTotal }}&nbsp;</span>
                    <span *ngIf="offer.countTotal != '1'" class="leading-none"> / {{ offer.countShared }}</span>
                </div>

                <div class="flex items-center">
                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'mat_solid:location_on'"></mat-icon>
                    <span class="max-w-none prose prose-sm whitespace-pre-line">{{ offer.location }}</span>
                </div>


                <div *ngIf="!!offer.comment" class="flex items-center">
                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                    <div class="max-w-none prose prose-sm whitespace-pre-line">{{ offer.comment }}</div>
                </div>
            </div>
        </ng-container>

    </div>

    <!-- Processed -->
    <div class="flex min-w-0 flex-row items-baseline gap-2 m-4">
        <div class="text-xl font-bold tracking-tight leading-none">{{ 'HostingRequests' | translate }}</div>
        <div class="mt-1.5 text-lg text-secondary">({{ filteredRequests?.length ?? 0 }})</div>
    </div>

    <!-- Requests -->
    <div *ngIf="filteredRequests" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 m-4 sm:mt-10">

        <ng-container *ngFor="let request of filteredRequests">
            <!-- Request -->
            <div class="flex flex-col min-h-32 shadow rounded-2xl overflow-hidden bg-card p-6 space-y-2" [ngClass]="{'bg-gray-200': !!request.isOnWaitingList}">
                <div class="flex">
                    <a class="grow flex-col w-full hover:underline space-y-1" [routerLink]="navigator.getRegistrationUrl(request.registrationId)">

                        <!-- Registrable title & description -->
                        <div class="text-lg font-medium">{{ request.displayName }}</div>
                        <div class="line-clamp-2 text-secondary">{{ request.email }}</div>
                        <div class="line-clamp-2 text-secondary">{{ request.phone }}</div>
                        <div class="w-12 h-1 mt-2 border-t-2"></div>

                    </a>
                    <mat-icon class="none icon-size-5 justify-middle" *ngIf="request.isOnWaitingList" [svgIcon]="'heroicons_solid:clock'" [matTooltip]="'WaitingList' | translate"></mat-icon>
                    <mat-icon class="none icon-size-5 justify-middle" *ngIf="!request.isOnWaitingList" [svgIcon]="'heroicons_solid:check-circle'" matTooltip=" {{ 'AdmittedAt' | translate }} {{
                        request.admittedAt | date: 'dd.MM.yy HH:mm' }}"></mat-icon>
                </div>

                <div *ngIf="!!request.hostingPartner" class="flex items-center mt-6">
                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:user'"></mat-icon>
                    <span class="leading-none">{{ request.hostingPartner }}</span>
                    <mat-icon *ngIf="request.shareOkWithPartner" class="none icon-size-5 justify-middle ml-2" [svgIcon]="'mat_solid:bed'" [matTooltip]="'ShareOkWithPartner' | translate"></mat-icon>
                </div>

                <div *ngIf="!!request.comment" class="flex items-center">
                    <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                    <div class="max-w-none prose prose-sm whitespace-pre-line">{{ request.comment }}</div>
                </div>

                <div class="flex items-center">
                    <mat-icon *ngIf="request.travelByCar" class="icon-size-5 mr-3" [svgIcon]="'mat_solid:directions_car_filled'" [matTooltip]="'TravelByCar' | translate"></mat-icon>
                    <mat-icon *ngIf="request.shareOkWithRandom" class="icon-size-5 mr-3" [svgIcon]="'mat_solid:bed'" [matTooltip]="'ShareOkWithRandom' | translate"></mat-icon>
                </div>
            </div>
        </ng-container>

    </div>
</div>