<!-- Main -->
<div class="flex flex-col items-center p-6 sm:p-10 w-full">
    <div class="flex flex-col w-full max-w-6xl">

        <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">{{ 'Anmeldeformulare' | translate }}</div>

        <!-- form->registrables or registrables->form -->
        <!-- <div class="flex items-center w-fit mt-4 p-0.5 rounded-full overflow-hidden bg-gray-200 dark:bg-gray-700">
            <button class="px-6" [ngClass]="{'bg-card pointer-events-none shadow': mappingDirection$.value===MappingDirection.FormToTrack,
                                                            'bg-transparent': mappingDirection$.value===MappingDirection.TrackToForm}" mat-flat-button
                (click)="setMappingDirection(MappingDirection.FormToTrack)" disableRipple>
                {{ 'MappingDirection_FormToTrack' | translate }}
            </button>
            <button class="px-6" [ngClass]="{'bg-card pointer-events-none shadow': mappingDirection$.value===MappingDirection.TrackToForm,
                                                            'bg-transparent': mappingDirection$.value===MappingDirection.FormToTrack}" mat-flat-button
                (click)="setMappingDirection(MappingDirection.TrackToForm)" disableRipple>
                {{ 'MappingDirection_TrackToForm' | translate }}
            </button>
        </div> -->

        <!-- Forms  -->
        <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">

            <div *ngFor="let form of forms" class="flex flex-col p-6">
                <!-- Form header -->
                <div class="flex items-center justify-between space-y-3">
                    <div>
                        <div class=" text-xl font-semibold">{{ form.title }}</div>
                        <div *ngIf="form.lastImport" class="text-secondary">{{ 'LastImport' | translate }}: {{ form.lastImport | date:'dd.MM.yyyy HH:mm' }}</div>
                    </div>
                    <button *ngIf="form.pendingRawFormId" mat-flat-button [color]="'primary'" (click)="importFormUpdate(form)">
                        {{ 'ImportNewVersion' | translate }} ({{ form.pendingRawFormCreated | ago }})
                    </button>
                </div>

                <!-- Sections Form -> Tracks -->
                <!-- <ng-container *ngIf="mappingDirection$.value===MappingDirection.FormToTrack"> -->
                <div *ngFor="let section of form.sections" class="mt-8 flex flex-col items-center justify-between p-6 sm:px-10 rounded-2xl shadow bg-card transition-shadow ease-in-out duration-150">
                    <div class="text-xl font-semibold">{{ section.name }}</div>
                    <!-- <div class="text-secondary">{{ 'LastImport' | translate }}: {{ section. | date:'dd.MM.yyyy HH:mm' }}</div> -->
                    <div *ngFor="let question of section.questions; last as lastQuestion" class="flex flex-col w-full py-2 px-2">

                        <!-- Question -->
                        <div class="text-lg font-semibold">{{ question.question }}</div>

                        <!-- Question options -->
                        <ng-container *ngIf="question.options">
                            <div class="space-y-1.5">
                                <ng-container *ngFor="let option of question.options">

                                    <!-- Option -->
                                    <div class="flex flex-auto items-center justify-center">
                                        <div class="ml-1.5 leading-5">
                                            - {{option.answer}}
                                        </div>
                                        <app-tags-picker class="ml-auto" [allTags]="allOptionMappings" [selectedTagIds]="option.mappedRegistrableCombinedIds" idProperty="combinedId"
                                            [showBorder]="false">
                                        </app-tags-picker>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                        <!-- String mapping -->
                        <ng-container *ngIf="question.mappable">
                            <mat-form-field class="flex-auto gt-xs:pl-3">
                                <mat-select [placeholder]="'Mapping' | translate" [(value)]="question.mapping">
                                    <mat-option [value]="null"> - </mat-option>
                                    <mat-option *ngFor="let mapping of allQuestionMappings" [value]="mapping.type">{{ mapping.text }}</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'mat_outline:link'"></mat-icon>
                            </mat-form-field>
                        </ng-container>

                        <!-- Use as placeholder in mail template -->
                        <div class="flex flex-col mt-2 space-y-2" *ngIf="question.allowMailTemplateKey">
                            <div class="flex items-center justify-center mt-3 max-w-32">
                                <div class="flex-auto border-b border-dashed"></div>
                            </div>
                            <div class="flex flex-row space-x-2 items-baseline">
                                <mat-label>{{ 'MailPlaceholder' | translate }}</mat-label>
                                <mat-slide-toggle class="ml-auto" [color]="'primary'" [(ngModel)]="question.showMailTemplateKey" #placeholder>
                                </mat-slide-toggle>
                                <mat-form-field *ngIf="placeholder.checked" class="fuse-mat-no-subscript w-60">
                                    <input [(ngModel)]="question.mailTemplateKey" matInput>
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- Line -->
                        <div *ngIf="!lastQuestion" class="flex items-center justify-center mt-3 -mx-6">
                            <div class="flex-auto border-b"></div>
                        </div>
                    </div>
                </div>
                <div class="mt-8 flex flex-col items-center justify-between p-6 sm:px-10 rounded-2xl shadow bg-card transition-shadow ease-in-out duration-150">
                    <div class="text-xl font-semibold">{{ 'MultiMappings' | translate }}</div>
                    <!-- <div class="text-secondary">{{ 'LastImport' | translate }}: {{ section. | date:'dd.MM.yyyy HH:mm' }}</div> -->
                    <div *ngFor="let multiMapping of form.multiMappings; last as lastMapping" class="flex flex-col w-full py-2 px-2">

                        <!-- Question -->
                        <!-- <div class="text-lg font-semibold">{{ question.question }}</div> -->
                        <div class="flex flex-auto items-center justify-center">
                            <div class="ml-1.5 leading-5">
                                {{ 'FormQuestionOptions' | translate }}
                            </div>
                            <app-tags-picker class="ml-auto" [allTags]="allQuestionOptions" [selectedTagIds]="multiMapping.questionOptionIds" idProperty="id" textProperty="answer"
                                [showBorder]="false">
                            </app-tags-picker>
                        </div>
                        <mat-icon class="ml-auto mr-4" svgIcon="heroicons_solid:arrow-sm-down"></mat-icon>
                        <div class="flex flex-auto items-center justify-center">
                            <div class="ml-1.5 leading-5">
                                {{ 'Tracks' | translate }}
                            </div>
                            <app-tags-picker class="ml-auto" [allTags]="availableTracks" [selectedTagIds]="multiMapping.registrableCombinedIds" idProperty="combinedId" [showBorder]="false">
                            </app-tags-picker>
                        </div>

                        <!-- Line -->
                        <div class="flex items-center justify-center mt-3 -mx-6">
                            <div class="flex-auto border-b"></div>
                        </div>
                    </div>

                    <button mat-flat-button class="mt-3" [color]="'primary'" (click)="addMultiMapping(form)">
                        {{ 'AddPricePart' | translate }}
                    </button>

                </div>

                <!-- </ng-container> -->


                <!-- Save -->
                <button *ngIf="form.sections" mat-flat-button [color]="'primary'" class="mt-3" (click)="saveMappings(form)">
                    {{ 'Save' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>