<!-- Main -->
<div class="flex flex-col items-center p-6 sm:p-10 w-full">
    <div class="flex flex-col w-full max-w-6xl">

        <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">{{ 'Anmeldeformulare' | translate }}</div>

        <!-- Forms  -->
        <div class="mt-2 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border">

            <!-- Form -->
            <div *ngFor="let form of forms" class="flex flex-col px-6">
                <div class="flex items-center justify-between space-y-3 mt-6">
                    <div>
                        <div class="text-xl font-semibold">{{ form.title }}</div>
                        <div class="text-secondary">{{ 'LastImport' | translate }}: {{ form.lastImport | date:'dd.MM.yyyy HH:mm' }}</div>
                    </div>
                    <button mat-flat-button [color]="'primary'" (click)="importFormUpdate(form)">
                        {{ 'ImportNewVersion' | translate }} ({{ form.pendingRawFormCreated | ago }})
                    </button>
                </div>
                <div class="flex-row">
                    <div *ngFor="let section of form.sections" class="mt-8 flex items-center justify-between p-6 sm:px-10 rounded-2xl shadow bg-card transition-shadow ease-in-out duration-150">
                        <div>
                            <div class="text-lg font-semibold">{{ section.name }}</div>
                            <!-- <div class="text-secondary">{{ 'LastImport' | translate }}: {{ section. | date:'dd.MM.yyyy HH:mm' }}</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>