<h1>Übersicht Anmeldungen</h1>

<p *ngIf="!doubleRegistrables"><em>Loading...</em></p>

<table class='table' *ngIf="doubleRegistrables">
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Plätze verfügbar</th>
            <th>Leader akzeptiert</th>
            <th>Follower akzeptiert</th>
            <th>Leader auf Warteliste</th>
            <th>Follower auf Warteliste</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let registrable of doubleRegistrables">
            <td>{{ registrable.Name }}</td>
            <td>{{ registrable.SpotsAvailable }}</td>
            <td>{{ registrable.LeadersAccepted }}</td>
            <td>{{ registrable.FollowersAccepted }}</td>
            <td>{{ registrable.LeadersOnWaitingList }}</td>
            <td>{{ registrable.FollowersOnWaitingList }}</td>
        </tr>
    </tbody>
</table>

<p *ngIf="!singleRegistrables"><em>Loading...</em></p>

<table class='table' *ngIf="singleRegistrables">
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Plätze verfügbar</th>
            <th>Akzeptiert</th>
            <th>Auf Warteliste</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let registrable of singleRegistrables">
            <td>{{ registrable.Name }}</td>
            <td>{{ registrable.SpotsAvailable }}</td>
            <td>{{ registrable.Accepted }}</td>
            <td>{{ registrable.OnWaitingList }}</td>
        </tr>
    </tbody>
</table>
