<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Back to registration overview -->
            <a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['../../..']">
                <span class="inline-flex items-center">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:arrow-sm-left'"></mat-icon>
                    <span class="ml-1.5 font-medium leading-5">{{ 'BackToRegistrationOverview' | translate }}</span>
                </span>
            </a>
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight leading-none">{{ registrable.name }}</div>
            <div class="mt-1.5 text-lg text-secondary">{{ registrable.nameSecondary }}</div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-col p-6 sm:p-8 sm:pt-4 overflow-y-auto">

        <!-- Participants -->
        <div class="p-2 rounded-2xl bg-default">

            <div class="flex flex-row">
                <div class="font-medium">{{ 'Participants' | translate }}</div>

                <!-- context menu -->
                <div *ngIf="registrable.waitingList.length > 0" class="flex items-center ml-auto">
                    <button mat-icon-button [matMenuTriggerFor]="registrableMenu">
                        <mat-icon class="icon-size-5" svgIcon="heroicons_solid:dots-vertical"></mat-icon>
                    </button>
                    <mat-menu #registrableMenu="matMenu">
                        <button *ngIf="registrable.waitingList.length > 0" mat-menu-item (click)="triggerMoveUp()">
                            <span class="flex items-center">
                                <mat-icon class="icon-size-5 mr-3" svgIcon="heroicons_solid:bars-arrow-up"></mat-icon>
                                <span>{{ 'TriggerMoveUp' | translate }}</span>
                            </span>
                        </button>
                    </mat-menu>
                </div>
            </div>

            <!-- Spots -->
            <div id="participants" class="flex flex-wrap mt-2 p-3 pb-0 gap-x-3 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border"
                [ngClass]="{'bg-primary-600': dragOverParticipants}" cdkDropList (cdkDropListDropped)="dragOverParticipants=false;drop($event.item.data)" cdkDropListConnectedTo="waitingList"
                [cdkDropListData]="registrable.participants" (cdkDropListEntered)="dragOverParticipants=true" (cdkDropListExited)="dragOverParticipants=false">
                <!-- Spot -->
                <ng-container *ngFor="let spot of registrable.participants; trackBy: trackByFn">
                    <app-participant [registration]="spot.leader" [placeholderPartner]="spot.placeholderPartner"></app-participant>
                </ng-container>
            </div>
        </div>

        <!-- Waiting list -->
        <div class="p-2 rounded-2xl bg-default">

            <div class="font-medium">{{ 'WaitingList' | translate }}</div>

            <!-- Spots -->
            <div id="waitingList" class="flex flex-wrap mt-2 p-3 pb-0 gap-x-3 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border" cdkDropList cdkDropListSortingDisabled
                [cdkDropListData]="registrable.waitingList" cdkDropListConnectedTo="participants">
                <!-- Spot -->
                <ng-container *ngFor="let spot of registrable.waitingList; trackBy: trackByFn">
                    <app-participant [registration]="spot.leader" [placeholderPartner]="spot.placeholderPartner" cdkDrag [cdkDragData]="spot.leader"></app-participant>
                </ng-container>
            </div>
        </div>

    </div>
</div>

<!-- Invisible router-outlet for ScrumboardCard component -->
<div class="absolute invisible w-0 h-0 opacity-0 pointer-events-none">
    <router-outlet></router-outlet>
</div>