<div class="relative flex flex-auto w-full bg-card dark:bg-transparent">

    <mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">

        <!-- Drawer -->
        <mat-drawer class="w-full sm:w-100 lg:border-r lg:shadow-none dark:bg-gray-900" [autoFocus]="false" #drawer>

            <!-- Profile -->
            <!-- <ng-container *ngIf="drawerComponent === 'profile'">
                <chat-profile [drawer]="drawer"></chat-profile>
            </ng-container> -->

        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex overflow-hidden">

            <!-- Bookings list -->
            <div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-100 lg:max-w-100 bg-card dark:bg-transparent">

                <!-- Header -->
                <div class="flex flex-col flex-0 py-4 px-8 border-b bg-gray-50 dark:bg-transparent">
                    <!-- <div class="flex items-center">
                        <button class="ml-auto" mat-icon-button (click)="openNewChat()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                        </button>
                    </div> -->
                    <!-- Sender -->
                    <div class="mt-4 space-y-4" [formGroup]="configForm">
                        <!-- <mat-form-field class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-dense w-full" [floatLabel]="'always'"> -->

                        <!-- Name -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>{{ 'SenderAlias' | translate }}</mat-label>
                                <input [formControlName]="'senderName'" matInput>
                            </mat-form-field>
                        </div>

                        <!-- Mail -->
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>{{ 'SenderMail' | translate }}</mat-label>
                                <input [formControlName]="'senderMail'" matInput>
                            </mat-form-field>
                        </div>

                        <!-- Single available -->
                        <button class="pr-4 pl-3.5" mat-button (click)="toggleSingle()">

                            <!-- Mark as complete -->
                            <ng-container *ngIf="!configForm.get('singleRegistrationPossible').value">
                                <div class="flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                                    <span class="ml-2 font-semibold">{{ 'SingleNotPossible' | translate }}</span>
                                </div>
                            </ng-container>

                            <!-- Mark as incomplete -->
                            <ng-container *ngIf="configForm.get('singleRegistrationPossible').value">
                                <div class="flex items-center justify-center">
                                    <mat-icon class="text-primary" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                    <span class="ml-2 font-semibold">{{ 'SinglePossible' | translate }}</span>
                                </div>
                            </ng-container>
                        </button>

                        <!-- Partner available -->
                        <button class="pr-4 pl-3.5" mat-button (click)="togglePartner()">

                            <!-- Mark as complete -->
                            <ng-container *ngIf="!configForm.get('partnerRegistrationPossible').value">
                                <div class="flex items-center justify-center">
                                    <mat-icon [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                                    <span class="ml-2 font-semibold">{{ 'PartnerNotPossible' | translate }}</span>
                                </div>
                            </ng-container>

                            <!-- Mark as incomplete -->
                            <ng-container *ngIf="configForm.get('partnerRegistrationPossible').value">
                                <div class="flex items-center justify-center">
                                    <mat-icon class="text-primary" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                    <span class="ml-2 font-semibold">{{ 'PartnerPossible' | translate }}</span>
                                </div>
                            </ng-container>
                        </button>

                        <!-- Languages -->
                        <div class="sm:col-span-4">
                            <mat-label>{{ 'AngeboteneSprachen' | translate }}</mat-label>
                            <div class="flex flex-row items-start space-x-3">
                                <!-- templates (per language) -->
                                <ng-container *ngFor="let lang of availableLangs">
                                    <button (click)="toggleLang(lang.id)">
                                        <span class="flex items-center relative w-6 shadow rounded-sm overflow-hidden">
                                            <span class="absolute inset-0 ring-1 ring-inset ring-black ring-opacity-10"></span>
                                            <img class="w-full" [ngClass]="{'opacity-25': this.configForm.value.availableLanguages.includes(lang.id)==false}"
                                                [src]="'assets/images/flags/' + flagCodes[lang.id]?.toUpperCase() + '.svg'" [alt]="'Flag image for ' + lang.label">
                                        </span>
                                    </button>
                                    <!-- <button (click)="selectTemplate(template)" [routerLink]="[template.id]"
                                                [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedTemplate || selectedTemplate.id !== template.id,
                                                                                                                                                        'bg-primary-50 dark:bg-hover': selectedTemplate && selectedTemplate.id === template.id}">
                                                <span class="flex items-center">
                                                    <ng-container *ngTemplateOutlet="flagImage; context: {$implicit: template}"></ng-container>
                                                </span>
                                            </button> -->
                                </ng-container>
                            </div>

                        </div>

                        <!-- <input matInput [autocomplete]="'off'" placeholder="{{ 'SearchByNameIbanMessage' | translate }}" (input)="filterByQuery(searchField.value)" #searchField> -->
                        <!-- </mat-form-field> -->
                        <div class="flex items-center justify-end mt-4">
                            <button (click)="drawer.close()" mat-button>{{ 'Cancel' | translate }}</button>
                            <button class="ml-2" mat-flat-button [color]="'primary'" (click)="saveSettings()">{{ 'Save' | translate }}</button>
                        </div>

                    </div>
                </div>

                <!-- topic groups -->
                <div class="flex-auto overflow-y-auto">
                    <ng-container *ngIf="templates.groups.length > 0">
                        <ng-container *ngFor="let group of templates.groups">
                            <div class="z-20 flex items-center justify-center my-3 -mx-6">
                                <div class="flex-0 mx-4 text-sm font-medium leading-5 text-secondary">
                                    {{ group.name }}
                                </div>
                            </div>
                            <!-- template types -->
                            <ng-container *ngFor="let type of group.types">
                                <div class="z-20 flex flex-col py-5 px-4 cursor-pointer border-t border-b">
                                    <div class="font-medium leading-5 truncate items">{{ type.typeText }}</div>
                                    <div class="flex flex-row items-center justify-between space-x-3">
                                        <!-- templates (per language) -->
                                        <div class="flex flex-row items-start">
                                            <ng-container *ngFor="let template of type.templates">
                                                <button (click)="selectTemplate(template, type)" class="ml-2" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedTemplate || selectedTemplate.id !== template.id,
                                                'bg-primary-50 dark:bg-hover': selectedTemplate && selectedTemplate.id === template.id}">
                                                    <span class="flex items-center">
                                                        <ng-container *ngTemplateOutlet="flagImage; context: {$implicit: template}"></ng-container>
                                                    </span>
                                                </button>
                                            </ng-container>
                                        </div>

                                        <!-- Release immediately? -->
                                        <button *ngIf="type.releaseImmediately !== null" class="ml-auto" mat-button (click)="toggleRelease(type)">
                                            <!-- Release immediately -->
                                            <ng-container *ngIf="type.releaseImmediately">
                                                <div class="flex items-center justify-center">
                                                    <mat-icon class="text-primary" [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                                                    <span class="ml-2 font-semibold">{{ 'ReleaseImmediately' | translate }}</span>
                                                </div>
                                            </ng-container>
                                            <!-- Hold back -->
                                            <ng-container *ngIf="!type.releaseImmediately">
                                                <div class="flex items-center justify-center">
                                                    <mat-icon [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                                                    <span class="ml-2 font-semibold">{{ 'HoldMailBack' | translate }}</span>
                                                </div>
                                            </ng-container>
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>

            </div>

            <!-- Conversation -->
            <ng-container *ngIf="templates && templates.groups.length > 0">
                <div class="flex-auto border-l" [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': selectedTemplate && selectedTemplate.id,
                                'hidden lg:flex': !selectedTemplate || !selectedTemplate.id}">
                    <router-outlet></router-outlet>
                </div>
            </ng-container>

        </mat-drawer-content>

    </mat-drawer-container>

</div>

<!-- Flag image template -->
<ng-template let-template #flagImage>
    <span class="relative w-6 shadow rounded-sm overflow-hidden">
        <span class="absolute inset-0 ring-1 ring-inset ring-black ring-opacity-10"></span>
        <img class="w-full" [ngClass]="{'opacity-25': template.id===null}" [src]="'assets/images/flags/' + flagCodes[template.language]?.toUpperCase() + '.svg'"
            [alt]="'Flag image for ' + template.language">
    </span>
</ng-template>