<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/registrables']">Leapin' Lindy 2018</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="[eventAcronym, 'registrables']">
                        <span class='glyphicon glyphicon-th-list'></span> Übersicht Anmeldungen
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="[eventAcronym, '/hosting']">
                        <span class='glyphicon glyphicon-home'></span> Hosting
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/unrecognizedPayments']">
                        <span class='glyphicon glyphicon-usd'></span> Nicht erkannte Zahlungen
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/paymentOverview']">
                        <span class='glyphicon glyphicon-usd'></span> Übersicht Einnahmen
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/searchRegistration']">
                        <span class='glyphicon glyphicon-search'></span> Anmeldung suchen
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/paymentReminders']">
                        <span class='glyphicon glyphicon-calendar'></span> Ausstehende Zahlungen
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/checkinView']">
                        <span class='glyphicon glyphicon-list'></span> Übersicht Checkin
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/partyOverview']">
                        <span class='glyphicon glyphicon-file'></span> Übersicht Parties
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/mailTemplates']">
                        <span class='glyphicon glyphicon-envelope'></span> Mailing
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>