<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-7xl mx-auto">
            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
                    <mat-select [value]="'all'" (selectionChange)="filterByCategory($event)">
                        <mat-option [value]="'all'">All</mat-option>
                        <ng-container *ngFor="let tag of tags; trackBy: trackByFn">
                            <mat-option [value]="tag.tag">{{tag.text}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [floatLabel]="'always'">
                    <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input (input)="filterByQuery(query.value)" [placeholder]="'SearchByName' | translate" matInput #query>
                </mat-form-field>
            </div>

            <!-- Registrables -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mt-8 sm:mt-10">

                <!-- Double Registrables -->
                <ng-container *ngIf="this.filteredDoubleRegistrables?.length">
                    <ng-container *ngFor="let doubleRegistrable of filteredDoubleRegistrables; trackBy: trackByFn">
                        <!-- Double Registrable -->
                        <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <!-- Registrable tags -->
                                    <ng-container *ngIf="(doubleRegistrable.tag | fuseFindByKey:'tag':tags) as category">
                                        <div class="py-0.5 px-3 rounded-full text-sm font-semibold" [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': category.sortKey === 1,
                                                        'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': category.sortKey === 2,
                                                        'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': category.sortKey === 3,
                                                        'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': category.sortKey === 4}">
                                            {{category.text}}
                                        </div>
                                    </ng-container>
                                </div>

                                <!-- Registrable title & description -->
                                <div class="mt-4 text-lg font-medium">{{ doubleRegistrable.name }}</div>
                                <div class="mt-0.5 line-clamp-2 text-secondary">{{ doubleRegistrable.nameSecondary }}</div>
                                <div class="w-12 h-1 my-6 border-t-2"></div>

                                <!-- Class -->
                                <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                                    <mat-icon class="icon-size-5 text-hint mr-2" [svgIcon]="'heroicons_solid:check-circle'"
                                        [matTooltip]="'Accepted: L' + doubleRegistrable.leadersAccepted + ' F' + doubleRegistrable.followersAccepted" [matTooltipPosition]="'above'"
                                        [matTooltipClass]="'mb-1'">
                                        >
                                    </mat-icon>
                                    <div class="flex flex-wrap">
                                        <ng-container *ngFor="let spotState of doubleRegistrable.class; let i = index; trackBy: trackByFn">
                                            <div class="flex flex-col pb-1 ml-0.5 w-1 rounded overflow-hidden">
                                                <!-- Leader: available -->
                                                <div class="h-4 bg-gray-200" *ngIf="spotState.leader === 1">
                                                </div>
                                                <!-- Leader: reserved -->
                                                <div class="h-4 bg-warn-400" *ngIf="spotState.leader === 2">
                                                </div>
                                                <!-- Leader: registered -->
                                                <div class="h-4 bg-primary-400" *ngIf="spotState.leader === 3">
                                                </div>
                                                <!-- Leader: paid -->
                                                <div class="h-4 bg-primary-600" *ngIf="spotState.leader === 4">
                                                </div>

                                                <!-- Connection -->
                                                <div class="-mt-0.5 -mb-0.5 h-1 z-10 bg-card" *ngIf="!spotState.linked">
                                                </div>

                                                <!-- Follower: available -->
                                                <div class="h-4 bg-gray-200 rounded-b" *ngIf="spotState.follower === 1">
                                                </div>
                                                <!-- Follower: reserved -->
                                                <div class="h-4 bg-warn-400 rounded-b" *ngIf="spotState.follower === 2">
                                                </div>
                                                <!-- Follower: registered -->
                                                <div class="h-4 bg-primary-400 rounded-b" *ngIf="spotState.follower === 3">
                                                </div>
                                                <!-- Follower: paid -->
                                                <div class="h-4 bg-primary-600 rounded-b" *ngIf="spotState.follower === 4">
                                                </div>
                                            </div>

                                            <div class="-mt-0.5 ml-1 mr-0.5 mb-0.5 w-0.5 h-9 bg-gray-600 " *ngIf="doubleRegistrable.spotsAvailable === i + 1"
                                                [matTooltip]="'max: ' + doubleRegistrable.spotsAvailable" [matTooltipPosition]="'above'" [matTooltipClass]="'mb-1'">
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Waiting List -->
                                <div class="flex items-center mt-2 leading-5 text-md text-secondary" *ngIf="doubleRegistrable.hasWaitingList">
                                    <mat-icon class="icon-size-5 text-hint mr-2" [svgIcon]="'heroicons_solid:clock'"
                                        [matTooltip]="'Waiting list: L' + doubleRegistrable.leadersOnWaitingList + ' F' + doubleRegistrable.followersOnWaitingList" [matTooltipPosition]="'above'"
                                        [matTooltipClass]="'mb-1'">
                                        >
                                    </mat-icon>
                                    <div class="flex flex-wrap">
                                        <ng-container *ngFor="let spotState of doubleRegistrable.waitingList; let i = index; trackBy: trackByFn">

                                            <div class="flex flex-col pb-1 ml-0.5 w-1 rounded overflow-hidden">
                                                <!-- Leader: available -->
                                                <div class="h-4 bg-gray-200" *ngIf="spotState.leader === 1">
                                                </div>
                                                <!-- Leader: reserved -->
                                                <div class="h-4 bg-warn-400" *ngIf="spotState.leader === 2">
                                                </div>
                                                <!-- Leader: registered -->
                                                <div class="h-4 bg-primary-400" *ngIf="spotState.leader === 3">
                                                </div>
                                                <!-- Leader: paid -->
                                                <div class="h-4 bg-primary-600" *ngIf="spotState.leader === 4">
                                                </div>

                                                <!-- Connection -->
                                                <div class="-mt-0.5 -mb-0.5 h-1 z-10 bg-card" *ngIf="!spotState.linked">
                                                </div>

                                                <!-- Follower: available -->
                                                <div class="h-4 bg-gray-200 rounded-b" *ngIf="spotState.follower === 1">
                                                </div>
                                                <!-- Follower: reserved -->
                                                <div class="h-4 bg-warn-400 rounded-b" *ngIf="spotState.follower === 2">
                                                </div>
                                                <!-- Follower: registered -->
                                                <div class="h-4 bg-primary-400 rounded-b" *ngIf="spotState.follower === 3">
                                                </div>
                                                <!-- Follower: paid -->
                                                <div class="h-4 bg-primary-600 rounded-b" *ngIf="spotState.follower === 4">
                                                </div>

                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                            <!-- Footer -->
                            <div class="flex flex-col w-full mt-auto">
                                <!-- Registrable completion -->
                                <div class="relative h-0.5" *ngIf="doubleRegistrable.spotsAvailable">
                                    <div class="z-10 absolute inset-x-0 h-6 -mt-3"
                                        [matTooltip]="(doubleRegistrable.leadersAccepted + doubleRegistrable.followersAccepted) / (doubleRegistrable.spotsAvailable * 2) | percent"
                                        [matTooltipPosition]="'above'" [matTooltipClass]="'-mb-0.5'"></div>
                                    <mat-progress-bar class="h-0.5" [value]="100 * (doubleRegistrable.leadersAccepted + doubleRegistrable.followersAccepted) / (doubleRegistrable.spotsAvailable * 2)">
                                    </mat-progress-bar>
                                </div>

                                <!-- Course launch button -->
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button mat-stroked-button [routerLink]="[doubleRegistrable.id, 'double', 'participants']">
                                        <span class="inline-flex items-center">
                                            Details
                                            <mat-icon class="ml-1.5 icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-right'"></mat-icon>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>

                <!-- Single Registrables -->
                <ng-container *ngIf="this.filteredDoubleRegistrables?.length">
                    <ng-container *ngFor="let singleRegistrable of filteredSingleRegistrables; trackBy: trackByFn">
                        <!-- Single Registrable -->
                        <div class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                            <div class="flex flex-col p-6">
                                <div class="flex items-center justify-between">
                                    <!-- Registrable tags -->
                                    <ng-container *ngIf="(singleRegistrable.tag | fuseFindByKey:'tag':tags) as category">
                                        <div class="py-0.5 px-3 rounded-full text-sm font-semibold" [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': category.sortKey === 1,
                                                                                        'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': category.sortKey === 2,
                                                                                        'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': category.sortKey === 3,
                                                                                        'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': category.sortKey === 4}">
                                            {{category.text}}
                                        </div>
                                    </ng-container>
                                </div>

                                <!-- Registrable title & description -->
                                <div class="mt-4 text-lg font-medium">{{ singleRegistrable.name }}</div>
                                <div class="mt-0.5 line-clamp-2 text-secondary">{{ singleRegistrable.nameSecondary }}</div>
                                <div class="w-12 h-1 my-6 border-t-2"></div>

                                <!-- Class -->
                                <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                                    <mat-icon class="icon-size-5 text-hint mr-2" [svgIcon]="'heroicons_solid:check-circle'" [matTooltip]="'Accepted: ' + singleRegistrable.accepted"
                                        [matTooltipPosition]="'above'" [matTooltipClass]="'mb-1'">
                                        >
                                    </mat-icon>

                                    <div class="flex flex-wrap">
                                        <ng-container *ngFor="let spotState of singleRegistrable.class; let i=index;trackBy: trackByFn">
                                            <div class="flex flex-col ml-0.5 w-1 pt-0.5 pb-0.5">
                                                <!-- Leader: available -->
                                                <div class="h-4 bg-gray-200 rounded overflow-hidden" *ngIf="spotState === 1">
                                                </div>
                                                <!-- Leader: reserved -->
                                                <div class="h-4 bg-warn-400 rounded overflow-hidden" *ngIf="spotState === 2">
                                                </div>
                                                <!-- Leader: registered -->
                                                <div class="h-4 bg-primary-400 rounded overflow-hidden" *ngIf="spotState === 3">
                                                </div>
                                                <!-- Leader: paid -->
                                                <div class="h-4 bg-primary-600 rounded overflow-hidden" *ngIf="spotState === 4">
                                                </div>
                                            </div>

                                            <div class="flex ml-1 mr-0.5 mb-1 w-0.5 h-5 bg-gray-600 rounded overflow-hidden" *ngIf="singleRegistrable.spotsAvailable == i + 1"
                                                [matTooltip]="'max: ' + singleRegistrable.spotsAvailable" [matTooltipPosition]="'above'" [matTooltipClass]="'mb-1'">
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>

                                <!-- Waiting List -->
                                <div class="flex items-center mt-2 leading-5 text-md text-secondary" *ngIf="singleRegistrable.hasWaitingList">
                                    <mat-icon class="icon-size-5 text-hint mr-2" [svgIcon]="'heroicons_solid:clock'" [matTooltip]="'Waiting list: ' + singleRegistrable.onWaitingList"
                                        [matTooltipPosition]="'above'" [matTooltipClass]="'mb-1'">
                                    </mat-icon>
                                    <div class="flex flex-wrap">
                                        <ng-container *ngFor="let spotState of singleRegistrable.waitingList; trackBy: trackByFn">
                                            <div class="flex flex-col ml-0.5 w-1 pt-0.5 pb-0.5">
                                                <!-- Leader: available -->
                                                <div class="h-4 bg-gray-200 rounded overflow-hidden" *ngIf="spotState === 1">
                                                </div>
                                                <!-- Leader: reserved -->
                                                <div class="h-4 bg-warn-400 rounded overflow-hidden" *ngIf="spotState === 2">
                                                </div>
                                                <!-- Leader: registered -->
                                                <div class="h-4 bg-primary-400 rounded overflow-hidden" *ngIf="spotState === 3">
                                                </div>
                                                <!-- Leader: paid -->
                                                <div class="h-4 bg-primary-600 rounded overflow-hidden" *ngIf="spotState === 4">
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                            <!-- Footer -->
                            <div class="flex flex-col w-full mt-auto">
                                <!-- Registrable completion -->
                                <div class="relative h-0.5" *ngIf="singleRegistrable.spotsAvailable">
                                    <div class="z-10 absolute inset-x-0 h-6 -mt-3" [matTooltip]="singleRegistrable.accepted / singleRegistrable.spotsAvailable | percent" [matTooltipPosition]="'above'"
                                        [matTooltipClass]="'-mb-0.5'"></div>
                                    <mat-progress-bar class="h-0.5" [value]="100 * singleRegistrable.accepted / singleRegistrable.spotsAvailable">
                                    </mat-progress-bar>
                                </div>

                                <!-- Course launch button -->
                                <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                                    <button mat-stroked-button [routerLink]="[singleRegistrable.id, 'single', 'participants']">
                                        <span class="inline-flex items-center">
                                            Details
                                            <mat-icon class="ml-1.5 icon-size-5" [svgIcon]="'heroicons_solid:arrow-sm-right'">
                                            </mat-icon>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>

            <!-- No courses -->
            <ng-container *ngIf="!this.filteredDoubleRegistrables?.length && !this.filteredSingleRegistrables?.length">
                <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                    <mat-icon class="icon-size-20" svgIcon="heroicons_solid:search"></mat-icon>
                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">No Items found!</div>
                </div>
            </ng-container>
        </div>

    </div>

</div>