<h1>Übersicht Einnahmen</h1>

<p *ngIf="!paymentOverview"><em>Loading...</em></p>

<table class='table' *ngIf="paymentOverview">
    <tbody>
        <tr>
            <td>Geld eingenommen:</td>
            <td align="right">{{ paymentOverview.ReceivedMoney | currency : paymentOverview.Balance.Currency }}</td>
            <td>aus {{paymentOverview.PaidRegistrations}} Anmeldungen</td>
        </tr>
        <tr>
            <td>Ausstehende Zahlungen:</td>
            <td align="right">{{ paymentOverview.OutstandingAmount | currency : paymentOverview.Balance.Currency }}</td>
            <td>aus {{ paymentOverview.NotFullyPaidRegistrations }} Anmeldungen</td>
        </tr>
        <tr>
            <td>Kontostand:</td>
            <td align="right">{{ paymentOverview.Balance.Balance | currency : paymentOverview.Balance.Currency }}</td>
            <td>Konto {{ paymentOverview.Balance.AccountIban }}, Stand {{ paymentOverview.Balance.Date }}</td>
        </tr>
        <tr>
            <td>Potential durch offene Plätze:</td>
            <td align="right">{{ paymentOverview.PotentialOfOpenSpotsSum | currency : paymentOverview.Balance.Currency }}</td>
            <td><button (click)="showPotentialDetails=!showPotentialDetails">Details</button></td>
        </tr>
    </tbody>
</table>

<table class='table' *ngIf="showPotentialDetails">
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th align="right">Plätze verfügbar</th>
            <th align="right">Potential</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let potential of paymentOverview.PotentialOfOpenSpots">
            <td><a [routerLink]="['/registrables', potential.RegistrableId, 'participants']">{{ potential.Name }}</a></td>
            <td align="right">{{ potential.SpotsAvailable }}</td>
            <td align="right">{{ potential.PotentialIncome | currency : paymentOverview.Balance.Currency }}</td>
        </tr>
    </tbody>
</table>