<div class="flex flex-col w-full min-w-0 overflow-hidden">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="flex-1 min-w-0">
            <div class="text-4xl font-extrabold tracking-tight leading-none">{{ 'FindPartnerOf' | translate: { name: candidates.name } }}</div>
            <div class="mt-1.5 flex flex-row">
                <div class="text-lg text-secondary">{{ candidates.email }}</div>
                <ng-container *ngIf="candidates.isOnWaitingList">
                    <mat-icon class="ml-1 icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                </ng-container>
            </div>
            <div class="text-lg text-secondary">{{ candidates.tracks.join(', ') }}</div>
            <button mat-stroked-button class="mt-1" (click)="transformToSingle()">{{ 'TransformToSingle' | translate }} </button>
        </div>

        <!-- Filters -->
        <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4" [floatLabel]="'always'">
            <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
            <input (input)="searchCandidates(query.value)" [placeholder]="'SearchByNameMailPhone' | translate" matInput #query>
        </mat-form-field>
    </div>

    <div class="flex flex-col p-6 sm:p-8 sm:pt-4 overflow-y-auto">

        <!-- Partner candidates -->
        <div *ngIf="candidates?.matches?.length > 0" class="p-2 rounded-xl bg-default">
            <ng-container *ngFor="let candidate of candidates?.matches">
                <fuse-card class="flex flex-col w-80 p-4 rounded-xl gap-y-2">
                    <div class="flex flex-row items-baseline gap-x-1">
                        <a class="hover:underline text-xl font-semibold leading-tight" [routerLink]="navigator.getRegistrationUrl(candidate.registrationId)">
                            {{ candidate.firstName }} {{ candidate.lastName }}</a>
                        <ng-container *ngIf="candidate.isOnWaitingList">
                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                        </ng-container>
                        <button type="submit" class="ml-auto -mt-2" mat-icon-button (click)="assign(candidate)">
                            <mat-icon [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
                        </button>

                    </div>

                    <!-- <div class="flex flex-wrap mt-2 p-3 gap-4 rounded-xl bg-gray-400 bg-opacity-12 dark:bg-transparent dark:border"> -->

                    <div class="text-secondary leading-tight">{{ candidate.email }}</div>
                    <div class="text-secondary leading-tight">{{ 'Partner' | translate }}: {{ candidate.declaredPartner }}</div>
                    <a *ngIf="candidate.registrationId_Partner" class="hover:underline text-xl leading-tight" [routerLink]="navigator.getRegistrationUrl(candidate.registrationId_Partner)">
                        {{ 'Assigned' | translate }}: {{ candidate.matchedPartner }}</a>
                    <div class="flex flex-row items-baseline gap-x-1">
                        <div *ngFor="let track of candidate?.tracks" class="flex flex-row items-baseline gap-x-2">
                            <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-center" [ngClass]="{'border-gray-200 border-2': track.match === 1,
                                         'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': track.match === 2 || track.match === 3}">
                                {{ track.name }}
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </fuse-card>
            </ng-container>
        </div>

    </div>
</div>