<div class="flex flex-col w-full min-w-0 overflow-hidden">
  <!-- Header -->
  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-6 sm:px-6 border-b bg-card dark:bg-transparent">
    <!-- Title -->
    @if (candidates) {
      <div class="flex-1 min-w-0">
        <div class="text-4xl font-extrabold tracking-tight leading-none">
          {{ 'FindPartnerOf' | translate: { name: candidates?.name } }}
          <button mat-stroked-button class="ml-2 -mt-2" (click)="transformToSingle()">{{ 'TransformToSingle' | translate }}</button>
        </div>
        <div class="mt-1.5 flex flex-row">
          <a class="hover:underline text-lg text-secondary" [routerLink]="navigator.getRegistrationUrl(candidates.registrationId)">
          {{ candidates?.email }}</a>
          @if (candidates?.isOnWaitingList) {
            <mat-icon class="ml-1 icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
          }
        </div>
        <div class="flex flex-row items-baseline mt-2 gap-x-1">
          @for (track of candidates?.tracks; track track) {
            <div class="py-0.5 px-3 rounded-xl text-lg text-secondary text-center bg-gray-200 border-0 border-gray-400">
              {{ track }}
            </div>
          }
        </div>
      </div>
    }
  </div>

  <!-- Filters -->
  <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 m-4" [floatLabel]="'always'">
    <mat-label>{{ 'Partner' | translate }}</mat-label>
    <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
    <input (input)="searchCandidates(query.value)" [placeholder]="'SearchByNameMailPhone' | translate" matInput #query>
  </mat-form-field>

  @if (candidates?.matches?.length > 0) {
    <div class="flex flex-wrap gap-4 m-4 bg-default">
      <!-- Partner candidates -->
      @for (candidate of candidates?.matches; track candidate) {
        <fuse-card class="flex flex-col w-80 p-4 rounded-xl gap-y-2">
          <div class="flex flex-row items-baseline gap-x-1">
            <a class="hover:underline text-xl font-semibold leading-tight" [routerLink]="navigator.getRegistrationUrl(candidate.registrationId)">
            {{ candidate.firstName }} {{ candidate.lastName }}</a>
            @if (candidate.isOnWaitingList) {
              <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
            }
            @if (!candidate.registrationId_Partner) {
              <button type="submit" class="ml-auto -mt-2" mat-icon-button (click)="assign(candidate)">
                <mat-icon [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
              </button>
            }
          </div>
          <div class="text-secondary leading-tight">{{ candidate.email }}</div>
          <div class="text-secondary leading-tight">{{ 'Partner' | translate }}: {{ candidate.declaredPartner }}</div>
          @if (candidate.registrationId_Partner) {
            <a class="hover:underline leading-tight" [routerLink]="navigator.getRegistrationUrl(candidate.registrationId_Partner)">
            {{ 'Assigned' | translate }}: {{ candidate.matchedPartner }}</a>
          }
          <div class="flex flex-row items-baseline gap-x-1">
            @for (track of candidate?.tracks; track track) {
              <div class="flex flex-row items-baseline gap-x-2">
                        <div class="py-0.5 px-3 rounded-xl text-sm font-semibold text-center border-2" [ngClass]="{
                                    'border-gray-200 border-2': track.match === 1,
                                    'bg-green-200 border-green-600 dark:text-green-50 dark:bg-green-500': track.match === 2 || track.match === 3}">
                  {{ track.name }}
                </div>
              </div>
            }
          </div>
        </fuse-card>
      }
    </div>
  }
</div>