<h1>Mailing</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Sprache</th>
      <th>Betreff</th>
      <th>Absender</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let template of mailTemplates" (click)="showTemplate(template.key, template.language)">
      <td>{{ template.key }}</td>
      <td>{{ template.language }}</td>
      <td>{{ template.subject }}</td>
      <td>{{ template.senderName }} ({{ template.senderMail }})</td>
    </tr>
  </tbody>
</table>

<hr />

<p *ngIf="searching"><em>Loading...</em></p>

<table class="table" *ngIf="mailTemplate">
  <tbody>
    <tr>
      <td>Template ID</td>
      <td><input [(ngModel)]="mailTemplate.key" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <td>Sprache</td>
      <td><input [(ngModel)]="mailTemplate.language" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <td>Betreff</td>
      <td><input [(ngModel)]="mailTemplate.subject" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <td>Absender</td>
      <td><input [(ngModel)]="mailTemplate.senderMail" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <td>Absender Alias</td>
      <td><input [(ngModel)]="mailTemplate.senderName" type="text" class="form-control" /></td>
    </tr>
    <tr>
      <td>Adressaten</td>
      <td><input [(ngModel)]="mailTemplate.audience" type="number" class="form-control" /></td>
    </tr>
    <tr>
      <td>Template (HTML)</td>
      <td><textarea [(ngModel)]="mailTemplate.template" type="" class="form-control" (keyup)="renderMail()"></textarea></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="saveTemplate()">Speichern</button>

<br /><br />

<div id="templateRenderSpace" class="table-bordered">
</div>
