<div class="w-full p-2">
    <!-- Form -->
    <form [formGroup]="templateForm">

        <div class="grid sm:grid-cols-4 gap-1 w-full mt-2">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>{{ 'MailSubject' | translate }}</mat-label>
                    <input [formControlName]="'subject'" matInput>
                </mat-form-field>
            </div>

            <!-- audiences -->
            <div class="sm:col-span-4" *ngIf="possibleAudiences && selectedAudiences">
                <mat-label class="fuse-mat-no-subscript">{{ 'Audiences' | translate }}</mat-label>
                <!-- <div class="fuse-mat-no-subscript w-full rounded-lg shadow border-b bg-card"> -->
                <div class="flex flex-col">
                    <app-tags-picker [allTags]="possibleAudiences" [selectedTagIds]="selectedAudiences" idProperty="audience" textProperty="name">
                    </app-tags-picker>
                </div>
            </div>

            <!-- registrables -->
            <mat-form-field class="sm:col-span-4 mt-4" *ngIf="registrablesService.registrables$ | async as tracks">
                <mat-label class="fuse-mat-no-subscript">{{ 'OnlyParticipantsOf' | translate }}</mat-label>
                <mat-select [placeholder]="'Mapping' | translate" [(value)]="registrableId">
                    <mat-option [value]="null">-</mat-option>
                    <mat-option *ngFor="let track of tracks" [value]="track.id">{{ track.displayName }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- content -->
            <div class="sm:col-span-4" *ngIf="options">
                <mat-label>{{ 'MailTemplate' | translate }}</mat-label>
                <button mat-stroked-button type="button" [color]="'primary'" class="ml-2" (click)="openPreview()">{{ 'Preview' | translate }}</button>
                <div class="mt-2" [froalaEditor]="options" #editor></div>
            </div>

        </div>

        <!-- Actions -->
        <div class="flex items-center justify-end mt-8">
            <button mat-stroked-button type="button">{{ 'Cancel' | translate }}</button>
            <button class="ml-4" mat-flat-button type="button" [color]="'primary'" (click)="save()">{{ 'Save' | translate }}</button>
        </div>
    </form>
</div>