<p *ngIf="!formPaths"><em>Loading...</em></p>

<div *ngFor="let form of formPaths" class="jumbotron container">
  <h2>Formular <i>{{ form.title }}</i></h2>

  <div *ngFor="let section of form.sections" class="">
    <h4>Abschnitt <i>{{ section.name }}</i></h4>
    <div *ngFor="let question of section.questions">
      <div class="row">
        <div class="col">
          <p>{{ question.question }}</p>
        </div>
        <div class="col" *ngIf="question.mappable">
          <select [(ngModel)]="question.mapping" class="custom-select">
            <option>-</option>
            <option *ngFor="let mapping of availableQuestionMappings" value={{mapping.type}}>{{ mapping.text}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="question.options">
        <div class="row" *ngFor="let option of question.options">
          <div class="col"><span>&#8226;</span> {{ option.answer }}</div>
          <div class="col">
            <ng-multiselect-dropdown [placeholder]="'Zuordnung'"
                                     [data]="availableQuestionOptionMappings"
                                     [(ngModel)]="option.mappedRegistrables"
                                     [settings]="dropdownSettingsQuestionOptions">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-sm btn-primary" (click)="save(form)">Speichern</button>
</div>


