<h1>Biete Hosting</h1>

<p *ngIf="!offers"><em>Loading...</em></p>

<table class='table' *ngIf="offers">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mail</th>
            <th>Telefon</th>
            <th>Sprache</th>
            <th>Adresse</th>
            <th>Anzahl Plätze</th>
            <th>Kommentar</th>
            <th>Zugelassen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let offer of offers">
            <td>{{ offer.FirstName }} {{ offer.LastName }}</td>
            <td>{{ offer.Mail }}</td>
            <td>{{ offer.Phone }}</td>
            <td>{{ offer.Language }}</td>
            <td>{{ offer.Address }}</td>
            <td>{{ offer.PlaceCount }}</td>
            <td>{{ offer.Comment }}</td>
            <td>{{ offer.AdmittedAt | date: 'dd.MM.yy HH:mm' }}</td>
        </tr>
    </tbody>
</table>

<h1>Suche Hosting</h1>

<p *ngIf="!seekers"><em>Loading...</em></p>

<table class='table' *ngIf="seekers">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mail</th>
            <th>Telefon</th>
            <th>Sprache</th>
            <th>Zusammen mit</th>
            <th>Anreise</th>
            <th>Kommentar</th>
            <th>Zugelassen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let seeker of seekers">
            <td>{{ seeker.FirstName }} {{ seeker.LastName }}</td>
            <td>{{ seeker.Mail }}</td>
            <td>{{ seeker.Phone }}</td>
            <td>{{ seeker.Language }}</td>
            <td>{{ seeker.Partners }}</td>
            <td>{{ seeker.Travel }}</td>
            <td>{{ seeker.Comment }}</td>
            <td>{{ seeker.AdmittedAt | date: 'dd.MM.yy HH:mm' }}</td>
        </tr>
    </tbody>
</table>