<h1>Übersicht Anmeldungen</h1>

<p *ngIf="!doubleRegistrables"><em>Loading...</em></p>

<table class='table' *ngIf="doubleRegistrables">
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Plätze verfügbar</th>
      <th>Leader akzeptiert</th>
      <th>Follower akzeptiert</th>
      <th>Leader auf Warteliste</th>
      <th>Follower auf Warteliste</th>
      <th>Paare auf Warteliste</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registrable of doubleRegistrables">
      <td><a [routerLink]="['/', getEventAcronym(), 'registrables', registrable.id, 'participants']">{{ registrable.name }}</a></td>
      <td>{{ registrable.spotsAvailable }}</td>
      <td>{{ registrable.leadersAccepted }}</td>
      <td>{{ registrable.followersAccepted }}</td>
      <td>{{ registrable.leadersOnWaitingList }}</td>
      <td>{{ registrable.followersOnWaitingList }}</td>
      <td>{{ registrable.couplesOnWaitingList }}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="!singleRegistrables"><em>Loading...</em></p>

<table class='table' *ngIf="singleRegistrables">
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Plätze verfügbar</th>
      <th>Akzeptiert</th>
      <th>Auf Warteliste</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registrable of singleRegistrables">
      <td><a [routerLink]="['/', getEventAcronym(), 'registrables', registrable.Id, 'participants']">{{ registrable.name }}</a></td>
      <td>{{ registrable.spotsAvailable }}</td>
      <td>{{ registrable.accepted }}</td>
      <td>{{ registrable.onWaitingList }}</td>
    </tr>
  </tbody>
</table>
