<ng-container *ngIf="allTags?.length > 0">
    <div class="flex flex-wrap items-center -m-1.5">
        <!-- Tags -->
        <ng-container *ngIf="selectedTagIds.length">
            <ng-container *ngFor="let tag of (selectedTagIds | fuseFindByKey:idProperty:allTags); trackBy: trackByFn">
                <div class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                    <span class="text-md font-medium whitespace-nowrap">{{tag[textProperty]}}</span>
                    <mat-icon class="icon-size-5 ml-2 cursor-pointer" [svgIcon]="'heroicons_solid:x-circle'" (click)="removeTag(tag)"></mat-icon>
                </div>
            </ng-container>
        </ng-container>
        <!-- Tags panel and its button -->
        <div class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 cursor-pointer text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700" (click)="openTagsPanel()"
            #tagsPanelOrigin>

            <mat-icon class="icon-size-5 my-2 -mx-2" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>

            <!-- Tags panel -->
            <ng-template #tagsPanel>
                <div class="min-w-60 rounded border shadow-md bg-card">
                    <!-- Tags panel header -->
                    <div class="flex items-center m-3 mr-2">
                        <div class="flex items-center">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <div class="ml-2">
                                <input class="w-full min-w-0 py-1 border-0" type="text" placeholder="{{ 'Search' | translate }}" (input)="filterTags($event)" (keydown)="filterTagsInputKeyDown($event)"
                                    [maxLength]="30" #newTagInput>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col max-h-64 py-2 border-t overflow-y-auto">
                        <!-- Tags -->
                        <ng-container>
                            <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                                <div *ngIf="!selectedTagIds.includes(tag[idProperty])" class="flex items-center h-10 min-h-10 px-4 cursor-pointer hover:bg-hover" (click)="addTag(tag)" matRipple>
                                    <mat-icon class="icon-size-5 cursor-pointer" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                                    <div class="ml-2">{{tag[textProperty]}}</div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</ng-container>