<h1>Ausstehende Zahlungen</h1>

<p *ngIf="!dueRegistrations"><em>Loading...</em></p>

<input type="checkbox" />Mails zurückhalten

<table class='table' *ngIf="dueRegistrations">
    <thead>
        <tr>
            <th>Name</th>
            <th>Preis</th>
            <th>bezahlt</th>
            <th>akzeptiert</th>
            <th>Erinnerung 1</th>
            <th>Erinnerung 2</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dueRegistration of dueRegistrations">
            <td>
                <a [routerLink]="['/registration', dueRegistration.Id]">{{ dueRegistration.FirstName }} {{ dueRegistration.LastName}}</a>
            </td>
            <td class="text-right">{{ dueRegistration.Price | currency : 'CHF' }}</td>
            <td class="text-right">{{ dueRegistration.Paid | currency : 'CHF' }}</td>
            <td>{{ dueRegistration.AcceptedMail?.Created | date: 'dd.MM.yy HH:mm' }}</td>
            <td>{{ dueRegistration.Reminder1Mail?.Created | date: 'dd.MM.yy HH:mm' }}<button class="btn btn-primary btn-sm" *ngIf="dueRegistration.Reminder1Due" (click)="sendReminder(dueRegistration?.Id, 1)">erinnern</button></td>
            <td>{{ dueRegistration.Reminder2Mail?.Created | date: 'dd.MM.yy HH:mm' }}<button class="btn btn-primary btn-sm" *ngIf="dueRegistration.Reminder2Due" (click)="sendReminder(dueRegistration?.Id, 2)">erinnern</button></td>
            <td>{{ dueRegistration.Email }}</td>
        </tr>
    </tbody>
</table>
<br />