<div class='main-nav'>
  <div class='navbar navbar-inverse'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand'>Hallo {{ authService.user }}</a>
      <button><a href="/.auth/logout">Logout</a></button>
      <a class='navbar-brand' [routerLink]="['/tev/registrables']">Leapin' Lindy 2018</a>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]' (click)='collapse()'>
            <span class='glyphicon glyphicon-home'></span> Home
          </a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]="[eventService.eventAcronym, 'registrables']">
            <span class='glyphicon glyphicon-th-list'></span> Übersicht Anmeldungen
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'hosting']">
            <span class='glyphicon glyphicon-home'></span> Hosting
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'unrecognizedPayments']">
            <span class='glyphicon glyphicon-usd'></span> Nicht erkannte Zahlungen
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'paymentOverview']">
            <span class='glyphicon glyphicon-usd'></span> Übersicht Einnahmen
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'searchRegistration']">
            <span class='glyphicon glyphicon-search'></span> Anmeldung suchen
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'paymentReminders']">
            <span class='glyphicon glyphicon-calendar'></span> Ausstehende Zahlungen
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'checkinView']">
            <span class='glyphicon glyphicon-list'></span> Übersicht Checkin
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'partyOverview']">
            <span class='glyphicon glyphicon-file'></span> Übersicht Parties
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'mailTemplates']">
            <span class='glyphicon glyphicon-envelope'></span> Mailing
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="[eventService.eventAcronym, 'authorization']">
            <span class='glyphicon glyphicon-envelope'></span> Berechtigungen
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
