<header class='main-nav'>
  <nav class='navbar'>
    <!--<div class='navbar-header'>
      <a class='navbar-brand'>Hallo {{ authService.user }}</a>
      <button class="btn btn-primary btn-xs"><a href="/.auth/logout">Logout</a></button>
      <a class='navbar-brand'>{{ eventService.name }}</a>
    </div>-->
    <!--<div class='clearfix'></div>-->
    <!--<div class='navbar-collapse'>-->
    <ul class='nav navbar-nav'>
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]'>
          <span class='glyphicon glyphicon-home'></span> Home
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'registrables']">
          <span class='glyphicon glyphicon-th-list'></span> Übersicht Anmeldungen
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'partnerMatching']">
          <span class='glyphicon glyphicon-th-list'></span> Partneranmeldungen zuordnen
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'mails']">
          <span class='glyphicon glyphicon-envelope'></span> Mails
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'invalid-email-addresses']">
          <span class='glyphicon glyphicon-envelope'></span> Ungültige Mailadressen
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'hosting']">
          <span class='glyphicon glyphicon-home'></span> Hosting
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'payments']">
          <span class='glyphicon glyphicon-usd'></span> Kontoauszug
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'unassignedPayments']">
          <span class='glyphicon glyphicon-usd'></span> Nicht ausgeglichene Zahlungen
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'paymentOverview']">
          <span class='glyphicon glyphicon-usd'></span> Übersicht Einnahmen
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'searchRegistration']">
          <span class='glyphicon glyphicon-search'></span> Anmeldung suchen
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'paymentReminders']">
          <span class='glyphicon glyphicon-calendar'></span> Ausstehende Zahlungen
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'checkinView']">
          <span class='glyphicon glyphicon-list'></span> Übersicht Checkin
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'partyOverview']">
          <span class='glyphicon glyphicon-file'></span> Übersicht Parties
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'mailTemplates']">
          <span class='glyphicon glyphicon-envelope'></span> Mailvorlagen
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'bulkMailTemplates']">
          <span class='glyphicon glyphicon-envelope'></span> Massenmails
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'waiting-list']">
          <span class='glyphicon glyphicon-envelope'></span> Wartelisten
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'authorization']">
          <span class='glyphicon glyphicon-envelope'></span> Berechtigungen
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'registrationForms']">
          <span class='glyphicon glyphicon-envelope'></span> Anmeldeformulare
        </a>
      </li>
      <li [routerLinkActive]="['link-active']" *ngIf="eventService.acronym">
        <a [routerLink]="[eventService.acronym, 'questionMapping']">
          <span class='glyphicon glyphicon-envelope'></span> Zuordnung Fragen zu Listen
        </a>
      </li>
    </ul>
    <!--</div>-->
  </nav>
</header>
