<!-- <div class="relative flex min-w-0 flex-auto flex-col overflow-hidden"> -->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-auto">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="flex min-w-0 flex-row items-baseline gap-2">
            <div class="text-4xl font-extrabold tracking-tight leading-none">
                {{ 'MenuNodeKey_FixRawProcessing' | translate }}
            </div>
            <div class="mt-1.5 text-lg text-secondary">({{ errors.length }})</div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto flex-col px-6 py-2 sm:px-16 sm:pb-20 sm:pt-8">
        <!-- Activity feed -->
        <div class="w-full max-w-3xl">

            <div *ngIf="errors.length" class="mt-2">
                <ol>
                    <!-- Activities -->

                    <!-- Activity -->
                    <li *ngFor="let error of errors; trackBy: trackByFn; let isLast=last" class="relative flex py-7">
                        <!-- Line -->
                        <div *ngIf="!isLast"
                            class="absolute left-5 top-7 -ml-px h-full w-0.5 bg-gray-300 dark:bg-gray-600"></div>

                        <div class="relative flex flex-auto">
                            <!-- Icon -->
                            <div
                                class="mr-4 flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-gray-400">
                                <mat-icon class="text-white icon-size-5" svgIcon="mat_outline:error_outline">
                                </mat-icon>
                            </div>

                            <!-- Content -->
                            <div class="flex flex-auto flex-col items-start">
                                <!-- Description -->
                                <div>
                                    <span>{{ error.firstName }} {{ error.lastName }}</span>
                                    <span *ngIf="error.mail">, {{ error.mail}}</span>
                                    <span *ngIf="error.phone">, {{ error.phone }}</span>
                                </div>
                                <div
                                    class="mt-2 flex flex-col text-md leading-5 sm:mt-1 sm:flex-row sm:items-center sm:space-x-2">
                                    <!-- Date -->
                                    <div class="text-secondary">
                                        {{ error.created | date : 'MMM dd, h:mm a' }}
                                    </div>
                                </div>
                                <!-- Extra content -->
                                <div class="mt-4 rounded-lg bg-gray-200 px-5 py-4 dark:bg-gray-800"
                                    [innerHTML]="error.lastProcessingError"></div>
                                <button *ngIf="!error.roleMissing" class="ml-auto" mat-button [color]="'primary'"
                                    (click)="retry(error.rawRegistrationId)">
                                    {{ 'Import' | translate }}
                                </button>

                                <div *ngIf="error.roleMissing" class="flex flex-auto mt-2">
                                    <div class="ml-4 sm:ml-0 h-11">
                                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript w-48">
                                            <mat-select [panelClass]="'w-72 min-w-72 max-w-72 h-auto max-h-none'"
                                                [value]="error.roleOverride" disableOptionCentering
                                                #roleSelect="matSelect">
                                                <mat-select-trigger class="text-md">
                                                    <span>{{ 'Role' | translate }}:</span>
                                                    <span class="ml-1 font-medium">
                                                        {{ roleSelect.value | translateEnum: Role : 'Role' }}
                                                    </span>
                                                </mat-select-trigger>
                                                <mat-option class="h-auto py-4 leading-none" [value]="Role.Leader">
                                                    <div class="font-medium">
                                                        {{ Role.Leader | translateEnum: Role : 'Role' }}
                                                    </div>
                                                </mat-option>
                                                <mat-option class="h-auto py-4 leading-none" [value]="Role.Follower">
                                                    <div class="font-medium">
                                                        {{ Role.Follower | translateEnum: Role : 'Role' }}
                                                    </div>
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <button class="ml-auto" mat-button [color]="'primary'"
                                        (click)="fixRole(error.rawRegistrationId, roleSelect.value)">
                                        {{ 'Import' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>

            <!-- Loading template -->

            <!-- No Activity template -->
        </div>
    </div>
</div>