<h1>Nicht ausgeglichene Zahlungen</h1>

<p *ngIf="!payments"><em>Loading...</em></p>

<!--<div id="paymentsCarousel" #paymentsCarousel class="carousel slide" data-ride="carousel" *ngIf="payments" (slid.bs.carousel)="slid(e)" interval="false">
  <div class="carousel-inner" style="padding-left: 40px; padding-right: 40px">
    <div *ngFor="let payment of payments ; let k = index" [ngClass]="k == 0 ? 'carousel-item active' : 'carousel-item'">
      <textarea readonly="readonly" style="min-width: 100%; min-height: 50pt; resize: none;" #paymentInfo (select)="textSelected(payment)">{{ payment.info }}</textarea>
      <p>Betrag: {{ payment.amount }}</p>
      <p>Zahlungseingang: {{ payment.bookingDate | date: 'dd.MM.yy' }}</p>
    </div>
  </div>
  <a class="carousel-control-prev" href="#paymentsCarousel" role="button" data-slide="prev" style="width: 30px; background: darkgray" (click)="gotoPreviousPayment()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#paymentsCarousel" role="button" data-slide="next" style="width: 30px; background: dimgray" (click)="gotoNextPayment()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->

<div *ngIf="payment" class="carousel slide">
  <div class="carousel-inner" style="padding-left: 40px; padding-right: 40px">
    <textarea readonly="readonly" style="min-width: 100%; min-height: 50pt; resize: none;" #paymentInfo (select)="textSelected()">{{ payment.info }}</textarea>
    <p>Offener Betrag: {{ payment.amount - payment.amountAssigned }} {{ payment.currency }}</p>
    <p>Zahlungseingang: {{ payment.bookingDate | date: 'dd.MM.yyyy' }}</p>
  </div>
  <a class="carousel-control-prev" role="button" data-slide="prev" style="width: 30px; background: darkgray" (click)="gotoPreviousPayment()" *ngIf="paymentPointer > 0">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" role="button" data-slide="next" style="width: 30px; background: darkgray" (click)="gotoNextPayment()" *ngIf="paymentPointer < payments.length - 1">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br />

<h3>Suchtreffer</h3>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Preis</th>
      <th>offen</th>
      <th>ausgleichen</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let possibleAssignment of possibleAssignments">
      <td><a [routerLink]="['/', getEventAcronym(), 'registration', possibleAssignment.registrationId]">{{ possibleAssignment.firstName }} {{ possibleAssignment.lastName }}</a></td>
      <td>{{ possibleAssignment.amount }}</td>
      <td>{{ possibleAssignment.amount - possibleAssignment.amountPaid }}</td>
      <td><input [(ngModel)]="possibleAssignment.amountToAssign" type="number" *ngIf="!possibleAssignment.locked" /></td>
      <td>
        <input [(ngModel)]="possibleAssignment.acceptDifference" type="checkbox" *ngIf="!possibleAssignment.locked && (possibleAssignment.amount - possibleAssignment.amountPaid - possibleAssignment.amountToAssign) > 0" /><span *ngIf="!possibleAssignment.locked && (possibleAssignment.amount - possibleAssignment.amountPaid - possibleAssignment.amountToAssign) > 0">Differenz akzeptieren</span>
        <div *ngIf="!possibleAssignment.locked && possibleAssignment.acceptDifference">
          Grund: <input [(ngModel)]="possibleAssignment.acceptDifferenceReason" type="text" />
        </div>
      </td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="savePayment(possibleAssignment)" *ngIf="!possibleAssignment.locked && possibleAssignment.amountToAssign > 0"><span class="glyphicon glyphicon-ok">Ausgleichen</span></button>
      </td>
    </tr>
  </tbody>
</table>

<!--<br />

<h3>Manuelle Suche</h3>
<input #searchString type="text" (keyup.enter)="searchRegistrationManually(searchString.value)">
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Preis</th>
      <th>offen</th>
      <th>ausgleichen</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let match of registrationMatches">
      <td><a [routerLink]="['/', getEventAcronym(), 'registration', match.Id]">{{ match.firstName }} {{ match.lastName }}</a></td>
      <td>{{ match.amount }}</td>
      <td>{{ match.amount - match.amountPaid }}</td>
      <td><input [(ngModel)]="match.amountToAssign" type="number" *ngIf="!match.locked" /></td>
      <td>
        <input [(ngModel)]="match.acceptDifference" type="checkbox" *ngIf="!match.locked && (match.amount - match.amountPaid - match.amountToAssign) > 0" /><span *ngIf="!match.locked && (match.amount - match.amountPaid - match.amountToAssign) > 0">Differenz akzeptieren</span>
        <div *ngIf="!match.locked && match.acceptDifference">
          Grund: <input [(ngModel)]="match.acceptDifferenceReason" type="text" />
        </div>
      </td>
      <td>
        <button class="btn btn-primary btn-sm" (click)="savePayment(match)" *ngIf="!match.locked && match.amountToAssign > 0"><span class="glyphicon glyphicon-ok">Ausgleichen</span></button>
      </td>
    </tr>
  </tbody>
</table>-->
