/*.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}

  .box.has-advanced-upload .box__dragndrop {
    display: inline;
  }

.box.is-dragover {
  background-color: grey;
}

.box.is-uploading .box__input {
  visibility: collapse;
}

.box.is-uploading .box__uploading {
  display: block;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
  cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}*/

.my-drop-zone {
  border: dotted 3px lightgray;
  margin: 2px;
  padding: 10px;
}

.nv-file-over {
  border: dotted 3px red;
}
/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

html, body {
  height: 100%;
}
