<h1>Zahlungsdifferenzen</h1>

<p *ngIf="!differences"><em>Loading...</em></p>

<table class='table' *ngIf="differences">
  <thead>
    <tr>
      <th>Name</th>
      <th>Preis</th>
      <th>Bezahlt</th>
      <th>Ausstehend</th>
      <th>Zu viel bezahlt</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let difference of differences">
      <td><a [routerLink]="['/', getEventAcronym(), 'registration', difference.registrationId]">{{ difference.firstName }} {{ difference.lastName }}</a></td>
      <td>{{ difference.price | currency : 'CHF' }}</td>
      <td>{{ difference.amountPaid | currency : 'CHF' }}</td>
      <td>
        <div *ngIf="difference.difference > 0">
          {{ difference.difference | currency : 'CHF' }}
          <a *ngIf="difference.paymentDueMailSent">Mail gesendet {{ difference.paymentDueMailSent | date: 'dd.MM.yy HH:mm' }}</a>
          <button class="btn btn-primary btn-sm" (click)="sendPaymentDueMail(difference)">Mail senden</button>
        </div>
      </td>
      <td>
        <div *ngIf="difference.difference < 0">
          {{ -difference.difference | currency : 'CHF' }}
          <a *ngIf="difference.tooMuchPaidMailSent">Mail gesendet {{ difference.tooMuchPaidMailSent | date: 'dd.MM.yy HH:mm' }}</a>
          <button class="btn btn-primary btn-sm" (click)="sendTooMuchPaidMail(difference)">Mail senden</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
